{% extends "core/base.html" %}
{% load static %}
{% block title %}
About us -
{% endblock title %}

{% block herosection %}

<section class="herosection">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="nav-link" href="{% url "home" %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                    <h1 class="py-lg-3 fw-bolder main-header-text" id="big">About us</h1>
                    <div class="supporting-text">
                        Are you ready to take your business to the next level? At 247digital
                        Hub we specialize in providing comprehensive digital marketing
                        solutions tailored to meet your unique needs. Our expert team is
                        dedicated to driving your success through innovative strategies,
                        compelling content, and cutting-edge technology.
                    </div>
                </div>
                <div class="py-lg-4 mt-3 mt-md-0 ">
                    <a href="{% url "contact_us" %}" class="main-btn custom-hero-mobile-btn"> Contact us Now </a>
                </div>
            </div>
            <div class="col-md-6">

                <img src="{% static 'images/about-hero.png' %}" class="img-fluid" alt="...">


            </div>
        </div>
    </div>
</section>
{% endblock herosection %}

{% block main %}
<!-- Social Proof Section -->
{% include "core/components/social_proof_section.html" %}

<section>
    <div class="container mt-5">
        <div class="row position-relative">
            <!-- Main Image -->
            <div class="col-12">
                <img class="img-fluid rounded w-60" src="{% static 'images/assets/shape-one@2x.png' %}" alt="Main Image"
                    style="width: 60%;">
            </div>

            <!-- Overlay Image -->
            <div class="col-12 position-absolute top-50 end-0 translate-middle-y" style="width: 40%;">
                <img class="img-fluid rounded" src="{% static 'images/assets/rectangle-25@2x.png' %}"
                    alt="Overlay Image">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container px-4  mt-5">
        <div class="content">
            <h1 class="about-the-company">About the Company</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>At 247Digital Hub, we are your all-in-one digital partner committed to helping businesses thrive in the ever-evolving digital landscape. With a passion for innovation and a focus on results, we craft personalized digital marketing strategies that drive growth and success for companies across every industry.</p>
                <h5> Your Success is Our Mission </h5>
                <p>From startups to established enterprises, we understand that every business is unique. That's why we offer a full spectrum of digital services tailored to fit your specific needs and goals. Whether you’re looking to enhance your online visibility, engage your audience with compelling content, or streamline your operations with top-notch virtual assistant services, 247Digital Hub has you covered.</p>

            </div>
            <div class="col-sm-6">
                <h5> Our Core Services </h5>
                <p>Digital Marketing Strategies: Elevate your brand with our targeted social media management, SEO, and PPC campaigns. From building a robust online presence to driving conversions, we ensure your business stands out in a crowded marketplace.</p>
                <p>Creative Content Solutions: Captivate your audience with high-quality content, business explainer videos, and eye-catching graphics that tell your story and resonate with your customers.</p>
                <p>Web Design & Development: Transform your vision into a visually stunning and functional website. We offer custom website design, e-commerce setup, and web application development to create an impactful online experience. </p>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">

                <img src="{% static 'images/assets/rectangle-22@2x.png' %}" alt="" class="img-fluid">

            </div>
            <div class="col-sm-6">
                <p>Reputation Management: Protect and enhance your brand image with our comprehensive reputation management services.</p>
                <h5> Specialized Virtual Assistant Services</h5>
                <p> Our highly trained Virtual Assistants are at the heart of our service offerings. We provide specialized support to medical, dental, surgical, and veterinary practices, understanding the unique needs of healthcare providers. Our virtual assistants handle everything from patient coordination and scheduling to administrative tasks, freeing up your time to focus on what matters most—delivering exceptional care. But we don't stop there! Our virtual assistant services extend beyond healthcare, supporting businesses in finance, legal, retail, real estate, and more with administrative, marketing, and customer service needs.</p>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>

<!-- Why Choose Us -->
{% include "core/components/why_choose_us_section.html" %}

<section class="team-content-wrapper">
    <div class="team-content">
        <div class="team-intro">
            <div class="team-header">
                <b class="the-team">The Team</b>
                <h1 class="transform-your-online text-center">Meet The Team members</h1>
            </div>
        </div>
        <div class="team-members">
            <div class="rectangle-group">
                <div class="frame-child3"></div>
                <img class="team-member-image" loading="lazy" alt=""
                    src="{% static "images/assets/rectangle-28@2x.png" %}" />

                <div class="team-member-card">
                    <div class="team-member-info">
                        <div class="team-member-name">
                            <b class="john-queens">John Queens</b>
                            <div class="social-media-manager">Social Media Manager</div>
                        </div>
                        <div class="team-member-one-socials">
                            <div class="team-member-one-social-icons">
                                <img class="iconixtosolidfacebook" loading="lazy" alt=""
                                    src="{% static "images/assets/iconixtosolidfacebook.svg" %}" />
                            </div>
                            <div class="team-member-one-social-icons">
                                <img class="iconixtosolidfacebook" loading="lazy" alt=""
                                    src="{% static "images/assets/iconixtosolidinstagram.svg"%}" />
                            </div>
                            <div class="team-member-one-social-icons">
                                <img class="iconixtosolidfacebook" loading="lazy" alt=""
                                    src="{% static "images/assets/iconixtosolidlinkedin.svg"%}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rectangle-group">
                <div class="frame-child3"></div>
                <img class="team-member-image" loading="lazy" alt=""
                    src="{% static "images/assets/rectangle-28@2x.png" %}" />

                <div class="team-member-card">
                    <div class="team-member-info">
                        <div class="team-member-name">
                            <b class="john-queens">John Queens</b>
                            <div class="social-media-manager">Social Media Manager</div>
                        </div>
                        <div class="team-member-one-socials">
                            <div class="team-member-one-social-icons">
                                <img class="iconixtosolidfacebook" loading="lazy" alt=""
                                    src="{% static "images/assets/iconixtosolidfacebook.svg" %}" />
                            </div>
                            <div class="team-member-one-social-icons">
                                <img class="iconixtosolidfacebook" loading="lazy" alt=""
                                    src="{% static "images/assets/iconixtosolidinstagram.svg"%}" />
                            </div>
                            <div class="team-member-one-social-icons">
                                <img class="iconixtosolidfacebook" loading="lazy" alt=""
                                    src="{% static "images/assets/iconixtosolidlinkedin.svg"%}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rectangle-group">
                <div class="frame-child3"></div>
                <img class="team-member-image" loading="lazy" alt=""
                    src="{% static "images/assets/rectangle-28@2x.png" %}" />

                <div class="team-member-card">
                    <div class="team-member-info">
                        <div class="team-member-name">
                            <b class="john-queens">John Queens</b>
                            <div class="social-media-manager">Social Media Manager</div>
                        </div>
                        <div class="team-member-one-socials">
                            <div class="team-member-one-social-icons">
                                <img class="iconixtosolidfacebook" loading="lazy" alt=""
                                    src="{% static "images/assets/iconixtosolidfacebook.svg" %}" />
                            </div>
                            <div class="team-member-one-social-icons">
                                <img class="iconixtosolidfacebook" loading="lazy" alt=""
                                    src="{% static "images/assets/iconixtosolidinstagram.svg"%}" />
                            </div>
                            <div class="team-member-one-social-icons">
                                <img class="iconixtosolidfacebook" loading="lazy" alt=""
                                    src="{% static "images/assets/iconixtosolidlinkedin.svg"%}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rectangle-group">
                <div class="frame-child3"></div>
                <img class="team-member-image" loading="lazy" alt=""
                    src="{% static "images/assets/rectangle-28@2x.png" %}" />

                <div class="team-member-card">
                    <div class="team-member-info">
                        <div class="team-member-name">
                            <b class="john-queens">John Queens</b>
                            <div class="social-media-manager">Social Media Manager</div>
                        </div>
                        <div class="team-member-one-socials">
                            <div class="team-member-one-social-icons">
                                <img class="iconixtosolidfacebook" loading="lazy" alt=""
                                    src="{% static "images/assets/iconixtosolidfacebook.svg" %}" />
                            </div>
                            <div class="team-member-one-social-icons">
                                <img class="iconixtosolidfacebook" loading="lazy" alt=""
                                    src="{% static "images/assets/iconixtosolidinstagram.svg"%}" />
                            </div>
                            <div class="team-member-one-social-icons">
                                <img class="iconixtosolidfacebook" loading="lazy" alt=""
                                    src="{% static "images/assets/iconixtosolidlinkedin.svg"%}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Form -->
{% include "core/components/contact_us_section.html" %}

<!-- Newsletter Sign-Up -->
{% include "core/components/newsletter_section.html" %}
{% endblock main %}