{% extends "core/base.html" %}
{% load static %}

{% block herosection %}
<section class="container-fluid frame-section">
    <div class="container-fluid row">
        <div class="col-md-12">
            <div class="frame-parent24">
                <div class="welcome-to-your-parent">
                    <h1 class="welcome-to-your">Welcome to Your</h1>
                    <div class="supporting-text-parent">
                        <div class="supporting-text2">
                            Are you ready to take your business to the next level? At
                            247digital Hub we specialize in providing comprehensive digital
                            marketing solutions tailored to meet your unique needs. Our
                            expert team is dedicated to driving your success through
                            innovative strategies, compelling content, and cutting-edge
                            technology.
                        </div>
                        <button class="button39">
                            <b class="text40">Get a free Consultation</b>
                        </button>
                    </div>
                </div>
                <div class="frame-parent25">
                    <div class="vector-container">
                        <img class="frame-child10" alt="" src="{% static "images/assets/vector-591.svg" %}" />

                        <div class="digital-marketing-solution-parent">
                            <h1 class="digital-marketing-solution">
                                Digital Marketing Solution
                            </h1>
                            <img class="frame-icon" alt=""
                                src="{% static "images/assets/frame-1618868482@2x.png" %}" />


                        </div>
                    </div>
                    <div class="dashboard-summary-card">
                        <div class="summarycontainer">
                            <div class="summaryheading">
                                <div class="icon-bar-chart-v-wrapper">
                                    <img class="icon-bar-chart-v" alt=""
                                        src="{% static "images/assets/icon--barchartv.svg" %}" />
                                </div>
                                <div class="filter">
                                    <div class="last-30-days">Last 30 days</div>
                                    <img class="icon-bar-chart-v" alt=""
                                        src="{% static "images/assets/icon--chevrondown.svg" %}" />
                                </div>
                            </div>
                            <div class="summarycontainer-inner">
                                <div class="clicks-parent">
                                    <div class="clicks">Clicks</div>
                                    <div class="frame-parent26">
                                        <div class="parent">
                                            <div class="div">240</div>
                                            <div class="div1">+0.00%</div>
                                        </div>
                                        <div class="badge">
                                            <div class="container3">
                                                <img class="icon-arrow-up" alt=""
                                                    src="{% static "images/assets/icon--arrowup.svg" %}" />

                                                <img class="avatars-icon" alt=""
                                                    src="{% static "images/assets/avatars@2x.png" %}" />

                                                <div class="label">2%</div>
                                                <img class="icon-right" alt=""
                                                    src="{% static "images/assets/iconright.svg" %}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-summary-card-parent">
                        <div class="dashboard-summary-card1">
                            <div class="summarycontainer">
                                <div class="summaryheading">
                                    <div class="icon-bar-chart-v-wrapper">
                                        <img class="icon-bar-chart-v" alt=""
                                            src="{% static "images/assets/icon--barchartv.svg" %}" />
                                    </div>
                                    <div class="filter">
                                        <div class="last-30-days">Last 30 days</div>
                                        <img class="icon-bar-chart-v" alt=""
                                            src="{% static "images/assets/icon--chevrondown.svg" %}" />
                                    </div>
                                </div>
                                <div class="summarycontainer-inner">
                                    <div class="clicks-parent">
                                        <div class="clicks">Clicks</div>
                                        <div class="frame-parent26">
                                            <div class="parent">
                                                <div class="div">240</div>
                                                <div class="div1">+0.00%</div>
                                            </div>
                                            <div class="badge">
                                                <div class="container3">
                                                    <img class="icon-arrow-up" alt=""
                                                        src="{% static "images/assets/icon--arrowup.svg" %}" />

                                                    <img class="avatars-icon" alt=""
                                                        src="{% static "images/assets/avatars@2x.png" %}" />

                                                    <div class="label">2%</div>
                                                    <img class="icon-right" alt=""
                                                        src="{% static "images/assets/iconright.svg" %}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="component-521">
                            <div class="component-52-child">
                                <div class="frame-parent28">
                                    <div class="frame-parent29">
                                        <div class="ellipse-container">
                                            <img class="frame-child11" alt=""
                                                src="{% static "images/assets/ellipse-99@2x.png" %}" />

                                            <div class="rectangle-frame">
                                                <div class="frame-child12"></div>
                                            </div>
                                            <div class="how-may-we2">How may we help you?</div>
                                        </div>
                                        <div class="am3">3:04am</div>
                                    </div>
                                    <div class="frame-parent30">
                                        <div class="ellipse-parent1">
                                            <img class="frame-child11" alt=""
                                                src="{% static "images/assets/ellipse-99-1@2x.png" %}" />

                                            <div class="rectangle-wrapper1">
                                                <div class="frame-child12"></div>
                                            </div>
                                            <div class="how-may-we3">How may we help you?</div>
                                        </div>
                                        <div class="am4">3:04am</div>
                                    </div>
                                    <div class="frame-parent31">
                                        <div class="frame-wrapper9">
                                            <div class="how-can-we-help-you-group">
                                                <div class="how-can-we1">How can we Help you</div>
                                                <img class="iconixtolinearsend1" alt=""
                                                    src="{% static "images/assets/iconixtolinearsend@2x.png" %}" />
                                            </div>
                                        </div>
                                        <div class="additional-text5">Additional text</div>
                                    </div>
                                </div>
                            </div>
                            <img class="live-chat-icon1" loading="lazy" alt=""
                                src="{% static "images/assets/live-chat.svg" %}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- Social Proof -->
            <div class="social-proof-section1">
                <b class="text41">Join 4,000+ companies already growing</b>
                <div class="logos1">
                    <div class="fictional-company-logo6">
                        <img class="logomark-icon6" alt="" src="{% static "images/assets/logomark.svg" %}" />

                        <div class="logotype-wrapper3">
                            <img class="logotype-icon6" alt=""
                                src="{% static "images/assets/logotype.svg" %}" />
                        </div>
                    </div>
                    <div class="fictional-company-logo7">
                        <img class="logomark-icon7" alt="" src="{% static "images/assets/logomark-1.svg" %}" />

                        <div class="logotype-wrapper4">
                            <img class="logotype-icon7" loading="lazy" alt=""
                                src="{% static "images/assets/logotype-1.svg" %}" />
                        </div>
                    </div>
                    <div class="fictional-company-logo8">
                        <img class="logomark-icon6" alt="" src="{% static "images/assets/logomark-2.svg" %}" />

                        <div class="logotype-wrapper5">
                            <img class="logotype-icon8" alt=""
                                src="{% static "images/assets/logotype-2.svg" %}" />
                        </div>
                    </div>
                    <div class="fictional-company-logo9">
                        <img class="logomark-icon6" alt="" src="{% static "images/assets/logomark-3.svg" %}" />

                        <div class="logotype-wrapper6">
                            <img class="logotype-icon9" loading="lazy" alt=""
                                src="{% static "images/assets/logotype-3.svg" %}" />
                        </div>
                    </div>
                    <div class="fictional-company-logo10">
                        <img class="logomark-icon6" alt="" src="{% static "images/assets/logomark-4.svg" %}" />

                        <div class="logotype-wrapper7">
                            <img class="logotype-icon10" loading="lazy" alt=""
                                src="{% static "images/assets/logotype-4.svg" %}" />
                        </div>
                    </div>
                    <div class="fictional-company-logo11">
                        <img class="logomark-icon11" alt="" src="{% static "images/assets/logomark-5.svg" %}" />

                        <div class="logotype-wrapper8">
                            <img class="logotype-icon11" alt=""
                                src="{% static "images/assets/logotype-5.svg" %}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</section>
{% endblock herosection %}
{% block main %}
  <!-- Why Choose Us -->
  {% include "core/components/why_choose_us_section.html" %}
<!-- Services -->
{% include "core/components/services_section.html" %}

<!-- Pricing Plans -->
<section class="container-wrapper">
    <div class="container6">
        <div class="pricing-header">
            <div class="pricing-titles">
                <b class="pricing-plans">Pricing plans</b>
                <h1 class="bundle-offers">Bundle offers</h1>
            </div>
            <div class="content8">
                <div class="pricing-tier-card">
                    <div class="header1">
                        <div class="heading-and-price">
                            <div class="heading-and-badge">
                                <div class="heading6">Basic plan</div>
                                <div class="badge2">
                                    <a class="text43">Popular</a>
                                </div>
                            </div>
                            <div class="price">
                                <b class="price1">$750</b>
                                <span class="fs-6 text-muted">per month</span>
                            </div>
                        </div>
                        <button class="actions">
                            <div class="button48">
                                <b class="text44">Get Started</b>
                            </div>
                        </button>
                    </div>
                    <div class="content9">
                        <div class="expertise-group">
                            <b class="text45">FEATURES</b>
                        </div>
                        <div class="check-items">
                            <div class="check-item-text">
                                <img class="check-icon" loading="lazy" alt=""
                                    src="{% static "images/assets/check-icon.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        Social Media Posting: Engage your audience with 2
                                        posts per week plus 2 videos per week.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text">
                                <img class="check-icon" loading="lazy" alt=""
                                    src="{% static "images/assets/check-icon.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        SEO: Enhance your visibility with basic SEO
                                        strategies.
                                    </div>
                                </div>
                            </div>

                            <div class="check-item-text">
                                <img class="check-icon" loading="lazy" alt=""
                                    src="{% static "images/assets/check-icon-2.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        SEO: Enhance your visibility with basic SEO
                                        strategies.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text">
                                <img class="check-icon" loading="lazy" alt=""
                                    src="{% static "images/assets/check-icon-2.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        SEO: Enhance your visibility with basic SEO
                                        strategies.
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="pricing-tier-card1">
                    <div class="header1">
                        <div class="heading-and-price">
                            <div class="heading-and-badge1">
                                <div class="heading7">Advanced Bundle</div>
                                <div class="badge3">
                                    <div class="text55">Popular</div>
                                </div>
                            </div>
                            <div class="price2">
                                <b class="price3">$1,875</b>
                                <span class="fs-6">per month</span>
                            </div>
                        </div>
                        <div class="expertise-group">
                            <button class="button49">
                                <b class="text56">Get started</b>
                            </button>
                        </div>
                    </div>
                    <div class="content9">
                        <div class="expertise-group">
                            <b class="text45">FEATURES</b>
                        </div>
                        <div class="check-items">
                            <div class="check-item-text9">
                                <img class="check-icon" alt=""
                                    src="{% static "images/assets/check-icon-8.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        Social Media: Capture attention with 3 posts and 3
                                        videos per week.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text9">
                                <img class="check-icon" alt=""
                                    src="{% static "images/assets/check-icon-8.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        SEO: Improve your rankings with intermediate SEO
                                        techniques.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text9">
                                <img class="check-icon" alt=""
                                    src="{% static "images/assets/check-icon-8.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        PPC: Boost your reach with standard level
                                        pay-per-click advertising.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text9">
                                <img class="check-icon" alt=""
                                    src="{% static "images/assets/check-icon-8.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        Reporting: Informed with monthly performance reports.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="pricing-tier-card2">
                    <div class="header1">
                        <div class="heading-and-price">
                            <div class="heading-and-badge1">
                                <div class="heading7">Premium Bundle</div>
                                <div class="badge3">
                                    <div class="text55">Popular</div>
                                </div>
                            </div>
                            <div class="price2">
                                <b class="price3">$3,750</b>
                                <span class="fs-6 light">per month</span>

                            </div>
                        </div>
                        <button class="actions">
                            <div class="button48">
                                <b class="text44">Get Started</b>
                            </div>
                        </button>
                    </div>
                    <div class="content9">
                        <div class="expertise-group">
                            <b class="text45">FEATURES</b>
                        </div>
                        <div class="check-items">
                            <div class="check-item-text">
                                <img class="check-icon" alt="" src="{% static "images/assets/check-icon.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        Social Media: Unlimited posts and videos to maximize
                                        your impact.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text">
                                <img class="check-icon" alt="" src="{% static "images/assets/check-icon.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        SEO: Dominate search results with expert-level SEO.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text">
                                <img class="check-icon" alt="" src="{% static "images/assets/check-icon.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        PPC: Achieve premium visibility with advanced PPC
                                        management.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text">
                                <img class="check-icon" alt="" src="{% static "images/assets/check-icon.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        Reporting: Receive detailed monthly insights.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="reviews-header-parent">
    <div class="reviews-header">
        <div class="review-title">
            <div class="reviews-background"></div>
            <b class="our-services">Reviews</b>
            <h1 class="what-our-clients">What our clients say about us</h1>
            <button class="button51">
                <b class="text42">Contact us now</b>
            </button>
        </div>
    </div>
    <div class="testimonial-slider">
        <div class="frame-parent40">
            <div class="rectangle-parent10">
                <div class="frame-child21"></div>
                <div class="testimonial-content">
                    <div class="testimonial-quote-parent">
                        <h1 class="testimonial-quote">“</h1>
                        <div class="rating-stars">
                            <img class="rating-stars-child" alt=""
                                src="{% static "images/assets/group-37310.svg" %}" />

                            <img class="rating-stars-child" alt=""
                                src="{% static "images/assets/group-37310.svg" %}" />

                            <img class="rating-stars-child" alt=""
                                src="{% static "images/assets/group-37310.svg" %}" />

                            <img class="rating-stars-child" alt=""
                                src="{% static "images/assets/group-37310.svg" %}" />

                            <img class="rating-stars-child" alt=""
                                src="{% static "images/assets/group-37310.svg" %}" />
                        </div>
                    </div>
                    <div class="testimonial-author">
                        Lorem ipsum dolor sit amet consectetur. Quis dolor odio
                        ultricies ac nulla. Sed non enim.
                    </div>
                    <div class="author-image">
                        <img class="author-avatar-icon" loading="lazy" alt=""
                            src="{% static "images/assets/ellipse-18@2x.png" %}" />

                        <div class="author-details">
                            <b class="author-name">Rosemary John</b>
                            <div class="author-position">CEO MMMM</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="rectangle-parent11">
                    <div class="frame-child21"></div>
                    <div class="testimonial-content">
                        <div class="testimonial-quote-parent">
                            <h1 class="testimonial-quote">“</h1>
                            <div class="rating-stars">
                                <img class="rating-stars-child" alt=""
                                    src="{% static "images/assets/group-37310.svg" %}" />

                                <img class="rating-stars-child" alt=""
                                    src="{% static "images/assets/group-37310.svg" %}" />

                                <img class="rating-stars-child" alt=""
                                    src="{% static "images/assets/group-37310.svg" %}" />

                                <img class="rating-stars-child" alt=""
                                    src="{% static "images/assets/group-37310.svg" %}" />

                                <img class="rating-stars-child" alt=""
                                    src="{% static "images/assets/group-37310.svg" %}" />
                            </div>
                        </div>
                        <div class="testimonial-author">
                            Lorem ipsum dolor sit amet consectetur. Quis dolor odio
                            ultricies ac nulla. Sed non enim.
                        </div>
                        <div class="author-image">
                            <img class="author-avatar-icon" loading="lazy" alt=""
                                src="{% static "images/assets/ellipse-18-1@2x.png" %}" />

                            <div class="author-details">
                                <b class="author-name">Rosemary John</b>
                                <div class="author-position">CEO MMMM</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-slider">
                <div class="empty-review-slide-wrapper">
                    <div class="empty-review-slide">
                        <div class="empty-review-slide1">1</div>
                        <div class="empty-review-slide1">1</div>
                        <div class="empty-review-slide1">1</div>
                        <div class="empty-review-slide1">1</div>
                    </div>
                </div>
                <div class="rectangle-parent12">
                    <div class="frame-child21"></div>
                    <div class="testimonial-content">
                        <div class="testimonial-quote-parent">
                            <h1 class="testimonial-quote">“</h1>
                            <div class="rating-stars">
                                <img class="rating-stars-child" alt=""
                                    src="{% static "images/assets/group-37310.svg" %}" />

                                <img class="rating-stars-child" alt=""
                                    src="{% static "images/assets/group-37310.svg" %}" />

                                <img class="rating-stars-child" alt=""
                                    src="{% static "images/assets/group-37310.svg" %}" />

                                <img class="rating-stars-child" alt=""
                                    src="{% static "images/assets/group-37310.svg" %}" />

                                <img class="rating-stars-child" alt=""
                                    src="{% static "images/assets/group-37310.svg" %}" />
                            </div>
                        </div>
                        <div class="testimonial-author">
                            Lorem ipsum dolor sit amet consectetur. Quis dolor odio
                            ultricies ac nulla. Sed non enim.
                        </div>
                        <div class="author-image">
                            <img class="author-avatar-icon" loading="lazy" alt=""
                                src="{% static "images/assets/ellipse-18-1@2x.png" %}" />

                            <div class="author-details">
                                <b class="author-name">Rosemary John</b>
                                <div class="author-position">CEO MMMM</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="iconixtosolidarrow-square-le" loading="lazy" alt=""
                src="{% static "images/assets/iconixtosolidarrowsquareleft1.svg" %}" />
            <img class="iconixtosolidarrow-square-le1" loading="lazy" alt=""
                src="{% static "images/assets/iconixtosolidarrowsquareleft1-1.svg" %}" />
        </div>
    </div>
</section>


<!-- FAQ Section -->
{% include "core/components/faq_section.html" %}

<!-- Contact Form -->
{% include "core/components/contact_us_section.html" %}

<!-- Blog Previews -->
<section class="newsletter-cta-section1">
    <div class="container8">
        <div class="content19">
            <div class="heading-and-supporting-text1">
                <h1 class="heading9">Sign up for our newsletter</h1>
                <div class="supporting-text4">
                    Be the first to know about releases and industry news and
                    insights.
                </div>
            </div>
            <div class="email-capture1">
                <div class="input-field1">
                    <div class="input-wrapper">
                        <div class="summaryheading">
                            <input class="email-address5" placeholder="Email address" type="text" />

                            <img class="icon-mail3" alt="" src="{% static "images/assets/icon--mail-1.svg" %}" />
                        </div>
                    </div>
                    <div class="text46">
                        <span>We care about your data in our </span>
                        <span class="privacy-policy1">privacy policy</span>
                        <span>.</span>
                    </div>
                </div>
                <button class="button53">
                    <b class="text85">Subscribe</b>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- Newsletter Sign-Up -->
{% endblock main %}