{% extends "core/base.html" %}
{% load static %}

{% block herosection %}
<section class="herosection">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <h4 class="">Welcome to Your</h4>
                    <h1 class="py-lg-3 fw-bolder" id="big">Digital Marketing Solution</h1>
                    <div class="supporting-text">
                        Are you ready to take your business to the next level? At
                        247digital Hub we specialize in providing comprehensive digital
                        marketing solutions tailored to meet your unique needs. Our
                        expert team is dedicated to driving your success through
                        innovative strategies, compelling content, and cutting-edge
                        technology.
                    </div>
                </div>
                <div class="py-lg-4 mt-3 mt-md-0 mb-3">
                    <a href="{% url "contact_us" %}" class="main-btn custom-hero-mobile-btn"> Get a free
                        Consultation</a>
                </div>
            </div>
            <div class="col-md-6">


                <img src="{% static 'images/Group 37370.png' %}" class="img-fluid" alt="...">


            </div>
        </div>
    </div>
</section>
{% endblock herosection %}
{% block main %}
<!-- Social Proof Section -->
{% include "core/components/social_proof_section.html" %}

<!-- Why Choose Us -->
{% include "core/components/why_choose_us_section.html" %}
<!-- Services -->
{% include "core/components/services_section.html" %}

<!-- Pricing Plans -->
<section class="container-wrapper">
    <div class="container6">
        <div class="pricing-header">
            <div class="pricing-titles">
                <b class="pricing-plans">Pricing plans</b>
                <h1 class="bundle-offers">Bundle offers</h1>
            </div>
            <div class="content8">
                <div class="pricing-tier-card">
                    <div class="header1">
                        <div class="heading-and-price">
                            <div class="heading-and-badge">
                                <div class="heading6">Basic plan</div>
                                <div class="badge2">
                                    <a class="text43">Popular</a>
                                </div>
                            </div>
                            <div class="price">
                                <b class="price1">$750</b>
                                <span class="fs-6 text-muted">per month</span>
                            </div>
                        </div>
                        <button class="actions" onclick="window.location.href='{% url 'pricing' %}'">
                            <div class="button48">
                                <b class="text44">Get Started</b>
                            </div>
                        </button>
                    </div>
                    <div class="content9">
                        <div class="expertise-group">
                            <b class="text45">FEATURES</b>
                        </div>
                        <div class="check-items">
                            <div class="check-item-text">
                                <img class="check-icon" loading="lazy" alt=""
                                    src="{% static "images/assets/check-icon.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        Social Media Posting: Engage your audience with 2
                                        posts per week plus 2 videos per week.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text">
                                <img class="check-icon" loading="lazy" alt=""
                                    src="{% static "images/assets/check-icon.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        SEO: Enhance your visibility with basic SEO
                                        strategies.
                                    </div>
                                </div>
                            </div>

                            <div class="check-item-text">
                                <img class="check-icon" loading="lazy" alt=""
                                    src="{% static "images/assets/check-icon-2.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        PPC: Boost your reach with standard level
                                        pay-per-click advertising.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text">
                                <img class="check-icon" loading="lazy" alt=""
                                    src="{% static "images/assets/check-icon-2.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        Reporting: Informed with monthly performance reports.
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="pricing-tier-card1">
                    <div class="header1">
                        <div class="heading-and-price">
                            <div class="heading-and-badge1">
                                <div class="heading7">Advanced Bundle</div>
                                <div class="badge3">
                                    <div class="text55">Popular</div>
                                </div>
                            </div>
                            <div class="price2">
                                <b class="price3">$1,875</b>
                                <span class="fs-6">per month</span>
                            </div>
                        </div>
                        <div class="expertise-group">
                            <button class="button49" onclick="window.location.href='{% url 'pricing' %}'">
                                <b class="text56">Get started</b>
                            </button>
                        </div>
                    </div>
                    <div class="content9">
                        <div class="expertise-group">
                            <b class="text45">FEATURES</b>
                        </div>
                        <div class="check-items">
                            <div class="check-item-text9">
                                <img class="check-icon" alt="" src="{% static "images/assets/check-icon-8.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        Social Media: Capture attention with 3 posts and 3
                                        videos per week.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text9">
                                <img class="check-icon" alt="" src="{% static "images/assets/check-icon-8.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        SEO: Improve your rankings with intermediate SEO
                                        techniques.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text9">
                                <img class="check-icon" alt="" src="{% static "images/assets/check-icon-8.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        PPC: Boost your reach with standard level
                                        pay-per-click advertising.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text9">
                                <img class="check-icon" alt="" src="{% static "images/assets/check-icon-8.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        Reporting: Informed with monthly performance reports.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="pricing-tier-card2">
                    <div class="header1">
                        <div class="heading-and-price">
                            <div class="heading-and-badge1">
                                <div class="heading7">Premium Bundle</div>
                                <div class="badge3">
                                    <div class="text55">Popular</div>
                                </div>
                            </div>
                            <div class="price2">
                                <b class="price3">$3,750</b>
                                <span class="fs-6 light">per month</span>

                            </div>
                        </div>
                        <button class="actions" onclick="window.location.href='{% url 'pricing' %}'">
                            <div class="button48">
                                <b class="text44">Get Started</b>
                            </div>
                        </button>
                    </div>
                    <div class="content9">
                        <div class="expertise-group">
                            <b class="text45">FEATURES</b>
                        </div>
                        <div class="check-items">
                            <div class="check-item-text">
                                <img class="check-icon" alt="" src="{% static "images/assets/check-icon.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        Social Media: Unlimited posts and videos to maximize
                                        your impact.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text">
                                <img class="check-icon" alt="" src="{% static "images/assets/check-icon.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        SEO: Dominate search results with expert-level SEO.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text">
                                <img class="check-icon" alt="" src="{% static "images/assets/check-icon.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        PPC: Achieve premium visibility with advanced PPC
                                        management.
                                    </div>
                                </div>
                            </div>
                            <div class="check-item-text">
                                <img class="check-icon" alt="" src="{% static "images/assets/check-icon.svg" %}" />

                                <div class="text-wrap">
                                    <div class="text46">
                                        Reporting: Receive detailed monthly insights.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Testimonials -->
<div class="container my-5">
    <div class="row">
        <!-- Left Section: "What our clients say about us" -->
        <div
            class="col-sm-3 review-left_section p-4 d-flex flex-column justify-content-between text-center text-md-start">
            <div>
                <p class="fw-bold">Reviews</p>
                <h2 class="fw-bold">What our clients say about us</h2>
            </div>
            <a href="{% url "contact_us" %}" class="main-btn"> Contact us Now </a>
        </div>

        <!-- Right Section: Reviews -->
        <div class="col-sm-9">
            <div class="row align-items-end justify-content-center">
                <div class="swiper mySwiper ms-3">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide col-md-4 mb-4 d-flex align-items-end">
                            <div class="review-card d-flex flex-column justify-content-end">
                                <div class="card-body text-center">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <i class="fas fa-quote-left text-secondary"></i>
                                        <div class="text-warning">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <p class="text-justify">247DigitalHub boosted our online presence significantly,
                                        driving a 40% increase in sales. Highly recommend!</p>
                                    <div class="d-flex align-items-justify justify-content mt-3">
                                        <img src="{% static "images/assets/ellipse-18-1@2x.png" %}"
                                            class="review-card-img rounded-circle me-2" alt="Reviewer">
                                        <div>
                                            <p class="mb-0 fw-bold">Sarah Mitchell</p>
                                            <p class="mb-0">MD, GreenLeaf</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="swiper-slide col-md-4 mb-4 d-flex align-items-start">
                            <div class="review-card d-flex flex-column justify-content-start">
                                <div class="card-body text-center">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <i class="fas fa-quote-left text-secondary"></i>
                                        <div class="text-warning">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>

                                        </div>
                                    </div>
                                    <p class="text-justify">Their PPC campaigns are effective, and we've seen a rise in
                                        engagement. More updates would be appreciated.</p>
                                    <div class="d-flex align-items-justify justify-content mt-3">
                                        <img src="{% static "images/assets/ellipse-18-1@2x.png" %}"
                                            class="review-card-img rounded-circle me-2" alt="Reviewer">
                                        <div>
                                            <p class="mb-0 fw-bold">David Kim</p>
                                            <p class="mb-0">CEO TechWave</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide col-md-4 mb-4 d-flex align-items-start">
                            <div class="review-card d-flex flex-column justify-content-start">
                                <div class="card-body text-center">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <i class="fas fa-quote-left text-secondary"></i>
                                        <div class="text-warning">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>

                                        </div>
                                    </div>
                                    <p class="text-justify">Their PPC campaigns are effective, and we've seen a rise in
                                        engagement. More updates would be appreciated.</p>
                                    <div class="d-flex align-items-justify justify-content mt-3">
                                        <img src="{% static "images/assets/ellipse-18-1@2x.png" %}"
                                            class="review-card-img rounded-circle me-2" alt="Reviewer">
                                        <div>
                                            <p class="mb-0 fw-bold">Emily Ross</p>
                                            <p class="mb-0">CEO PureBeauty</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide col-md-4 mb-4 d-flex align-items-start">
                            <div class="review-card d-flex flex-column justify-content-start">
                                <div class="card-body text-center">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <i class="fas fa-quote-left text-secondary"></i>
                                        <div class="text-warning">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>

                                        </div>
                                    </div>
                                    <p class="text-justify">Their PPC campaigns are effective, and we've seen a rise in
                                        engagement. More updates would be appreciated.</p>
                                    <div class="d-flex align-items-justify justify-content mt-3">
                                        <img src="{% static "images/assets/ellipse-18-1@2x.png" %}"
                                            class="review-card-img rounded-circle me-2" alt="Reviewer">
                                        <div>
                                            <p class="mb-0 fw-bold">David Kim</p>
                                            <p class="mb-0">CEO TechWave</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <!-- First Review Card -->


                <!-- Second Review Card -->


                <!-- Third Review Card -->

            </div>
        </div>
    </div>
</div>




<!-- FAQ Section -->
{% include "core/components/faq_section.html" %}

<!-- Contact Form -->
{% include "core/components/contact_us_section.html" %}

<!-- Blog Previews -->
<div class="container my-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h5 class="mb-4 text-center text-custom-color">Blog articles</h5>
                <p class="text-secondary text-center lead fs-4">Everything you need to Know</p>

            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        {% if posts %}
        {% for post in posts %}
        {% if forloop.counter0 == 0 %}
        <div class="col-md-3 mb-4">
            <div class="home-post-card">
                <img src="{{post.header_image.url}}" class="img-fluid" alt="Post 1">
                <div class="home-post-content">
                    <h6>{{post.title | truncatechars:30}}</h6>
                    <p>{{post.subtitle | truncatechars:50}}</p>
                    <a href="{% url "blog_details" post.slug %}" class="read-more-link">Read More →</a>
                </div>
            </div>
        </div>
        {% elif forloop.counter0 == 1 %}
        <div class="col-md-6 mb-4">
            <div class="home-post-card overlay-card">

                <img src="{{post.header_image.url}}" class="img-fluid" alt="Post 2">
                <div class="home-post-overlay">
                    <h5>{{post.title | truncatechars:30}}</h5>
                    <p>{{post.subtitle | truncatechars:50}}</p>
                    <a href="{% url "blog_details" post.slug %}" class="text-white">Read More →</a>
                </div>
            </div>
        </div>
        {% elif forloop.counter0 == 2 %}
        <div class="col-md-3 mb-4">
            <div class="home-post-card">
                <img src="{{post.header_image.url}}" class="img-fluid" alt="Post 3">
                <div class="home-post-content">
                    <h5>{{post.title | truncatechars:30}}</h5>
                    <p>{{post.subtitle | truncatechars:50}}</p>
                    <a href="{% url "blog_details" post.slug %}" class="read-more-link">Read More →</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        {% endif %}



    </div>

</div>



<section class="newsletter-cta-section1">
    <div class="container8">
        <div class="content19">
            <div class="heading-and-supporting-text1">
                <h1 class="heading9">Sign up for our newsletter</h1>
                <div class="supporting-text4">
                    Be the first to know about releases and industry news and
                    insights.
                </div>
            </div>
            <div class="email-capture1">
                <div class="input-field1">
                    <div class="input-wrapper">
                        <div class="summaryheading">
                            <input class="email-address5" placeholder="Email address" type="text" />

                            <img class="icon-mail3" alt="" src="{% static "images/assets/icon--mail-1.svg" %}" />
                        </div>
                    </div>
                    <div class="text46">
                        <span>We care about your data in our </span>
                        <span class="privacy-policy1">privacy policy</span>
                        <span>.</span>
                    </div>
                </div>
                <button class="button53">
                    <b class="text85">Subscribe</b>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- Newsletter Sign-Up -->
{% endblock main %}