{% extends "core/base.html" %}
{% load static %}
{% block title %}
Privacy Policy -
{% endblock title %}

{% block herosection %}

<section class="herosection">

    <div class="container centered-header-hero">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Current as of 24 June 2024</li>
            </ol>
        </nav>   
        <h1 class="py-lg-3 fw-bolder" id="big">Privacy Policy</h1> 
        <p class="text-center">Your Privacy is important to us at 247 DigitalHub. We respect your privacy regarding any <br> information we may collect from you across our website </p>
    </div>
</section>
{% endblock herosection %}

{% block main %}

<section class="privacy-policy">
    <div class="container px-4  mt-5 ">
        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum assumenda ab amet quisquam reiciendis est, eligendi fugiat optio minus distinctio aliquam qui tenetur suscipit commodi impedit ea libero dolorum ipsum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non ducimus animi quae quo tempora maiores dolor nemo officia, veritatis magnam, laudantium minus voluptatibus quisquam nihil provident expedita commodi deserunt.</p>

        <br>
        <h5>What information do we collect?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt modi, quidem quam neque unde nam quo numquam praesentium, fugiat quae laudantium inventore repudiandae libero. Natus voluptates assumenda repellendus inventore at.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, ab? Id officia aperiam commodi, blanditiis praesentium suscipit soluta nobis voluptates ex cumque, animi dolorum consequatur est provident veritatis voluptatum odit.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta voluptate aspernatur nobis saepe excepturi quo accusamus illo neque ipsam a natus, necessitatibus laboriosam facilis cupiditate! Voluptate eum aliquid atque dolorum?</p>

        <br>
        <h5>How dow we use your information?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt modi, quidem quam neque unde nam quo numquam praesentium, fugiat quae laudantium inventore repudiandae libero. Natus voluptates assumenda repellendus inventore at.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, ab? Id officia aperiam commodi, blanditiis praesentium suscipit soluta nobis voluptates ex cumque, animi dolorum consequatur est provident veritatis voluptatum odit.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta voluptate aspernatur nobis saepe excepturi quo accusamus illo neque ipsam a natus, necessitatibus laboriosam facilis cupiditate! Voluptate eum aliquid atque dolorum?</p>

        <br>
        <h5>Do we use cookies and other tracking technologies?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt modi, quidem quam neque unde nam quo numquam praesentium, fugiat quae laudantium inventore repudiandae libero. Natus voluptates assumenda repellendus inventore at.</p>

        <br>
        <h5>How long do we keep your information?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt modi, quidem quam neque unde nam quo numquam praesentium, fugiat quae laudantium inventore repudiandae libero. Natus voluptates assumenda repellendus inventore at.</p>

        <br>
        <h5>How do we keep your information safe?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt modi, quidem quam neque unde nam quo numquam praesentium, fugiat quae laudantium inventore repudiandae libero. Natus voluptates assumenda repellendus inventore at.</p>
        
        <br>
        <h5>What are your privacy rights?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt modi, quidem quam neque unde nam quo numquam praesentium, fugiat quae laudantium inventore repudiandae libero. Natus voluptates assumenda repellendus inventore at.</p>

        <br>
        <h5>How can you contact us about this policy?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt modi, quidem quam neque unde nam quo numquam praesentium, fugiat quae laudantium inventore repudiandae libero. Natus voluptates assumenda repellendus inventore at.</p>
        <ol>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo debitis natus modi ut, recusandae perspiciatis quisquam vitae quidem id sed qui! Eaque perspiciatis delectus fuga earum inventore vitae commodi vel.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo debitis natus modi ut, recusandae perspiciatis quisquam vitae quidem id sed qui! Eaque perspiciatis delectus fuga earum inventore vitae commodi vel.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo debitis natus modi ut, recusandae perspiciatis quisquam vitae quidem id sed qui! Eaque perspiciatis delectus fuga earum inventore vitae commodi vel.</li>
        </ol>
    </div>
    
</section>
<!-- Newsletter Sign-Up -->
{% include "core/components/newsletter_section.html" %}
{% endblock main %}