{% extends "core/base.html" %}
{% load static %}
{% load my_filters %}
{% block title %}
{{service.title}}-
{% endblock title %}

{% block herosection %}
<section class="herosection">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Home / Services / {{service.title}}</li>
                        </ol>
                    </nav>
                    <h1 class="py-lg-3 fw-bolder main-header-text" id="big">{{service.title}}</h1>

                </div>
                <div class="py-lg-4">
                    <a href="{% url "contact_us" %}" class="main-btn"> Contact us Now </a>
                </div>
            </div>
            <div class="col-md-6">


                <img src="{{service.header_image.url}}" class="img-fluid" alt="{{service.title}}">


            </div>
        </div>
    </div>
</section>
{% endblock herosection %}


{% block main %}
<!-- Social Proof Section -->
{% include "core/components/social_proof_section.html" %}

<div class="container mt-5 standalone-prices">
    <h5 class="text-center text-custom-color">{{service.title}}</h5>
    <p class="text-center">{{service.subtext}}</p>

    <div class="row">
        {% for plan in standalone_plans %}
        <div class="col-sm-6 mt-3 ">
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title">{{plan.title}}</h5>
                        <p>{{plan.description}}</p>
                    </div>
                    <div class="">
                        <h5 class="amount mb-0">${{plan.price}} <small>/ month</small></h5>
                        <a href="{% url 'create_checkout_session' %}?id={{plan.id}}&plan_type=standalone" class="i-am-an1 btn btn-sm">Choose Plan</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        
    </div>
</div>


<div class="container mt-5 mb-5 standalone">
    <h5> Note:</h5>
    <ul>
        <li>12-month Commitment for all Bundles</li>
        <li>Third Party Budgets are not included in the price list</li>
    </ul>
</div>

<h1 class="what-youll-get text-center">What You’ll get?</h1>

<section class="benefits container mt-4">
    <div class="row">
        {% for benefit in benefits %}
            <div class="col-sm-4">
                <img src="{% static forloop.counter|format_image_url %}" class="benefit-image mb-4" alt="">
                <h5>{{benefit.name}}</h5>
                <p>{{benefit.description}}</p>
            </div>
        {% endfor %}
    </div>
    <div class="mt-5 mb-5">
        <h5>{{service.title}}</h5>
    <p>{{service.description | safe}}</p>
    </div>
    <img src="{{service.bottom_image.url}}" class="img-fluid mb-5" alt="" srcset="">

    

</section>
<!-- Contact Form -->
{% include "core/components/contact_us_section.html" %}

<!-- Newsletter Sign-Up -->
{% include "core/components/newsletter_section.html" %}
{% endblock %}