{% load static %}
<!-- Contact Form -->
<section class="contact-content-wrapper container-fluid">
    <div class="container-fluid ">
        <div class="contact-content">
            <div class="contact-form1">
                <b class="contact-us1">Contact us</b>
                <div class="contact-form-container">
                    <div class="contact-form-fields">
                        <div class="contact-form-fields-container">
                            <div class="contact-form-field-wrapper">
                                <h1 class="letss-help-you1">
                                    Lets’s help you understand your business
                                </h1>
                                <form method="post" action="{% url "contact_us" %}">
                                    {% csrf_token %}
                                    <div class="contact-form-inputs">
                                        <div class="component-81">
                                            <div class="text46">Name</div>
                                            <div class="contact-form-input-field-conta-parent">
                                                <div class="contact-form-input-field-conta">
                                                    <div class="contact-form-input-field-wrapp">
                                                        <input class="enter-name2" placeholder="Enter name"
                                                            type="text" name="name" required/>

                                                        <div class="contact-form-field-icons">
                                                            <img class="iconixtolinearuser1" alt=""
                                                                src="{% static "images/assets/iconixtolinearuser.svg" %}" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="additional-text6">Additional text</div>
                                            </div>
                                        </div>
                                        <div class="component-81">
                                            <div class="text46">Email address</div>
                                            <div class="contact-form-input-field-conta-parent">
                                                <div class="contact-form-input-field-conta">
                                                    <div class="contact-form-input-field-wrapp">
                                                        <input class="email-address4" placeholder="Email address"
                                                            type="email" name="email" required/>

                                                        <div class="contact-form-field-icons">
                                                            <img class="iconixtolinearuser1" alt=""
                                                                src="{% static "images/assets/icon--mail.svg" %}" />
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="component-81">
                                            <div class="text46">Subject</div>
                                            <div class="contact-form-input-field-conta-parent">
                                                <div class="contact-form-input-field-conta">
                                                    <div class="contact-form-input-field-wrapp">
                                                        <input class="enter-name2" placeholder="Enter name"
                                                            type="text" name="subject" required/>

                                                        <div class="contact-form-field-icons">
                                                            <img class="iconixtolinearuser1" alt=""
                                                                src="{% static "images/assets/iconixtolinearedit.svg" %}" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="additional-text6">Additional text</div>
                                            </div>
                                        </div>
                                        <div class="component-81">
                                            <div class="text46">Message</div>
                                            <div class="frame-parent43">
                                                <div class="frame-wrapper17">
                                                    <div class="contact-form-input-field-wrapp">
                                                        <textarea name="message" class="form-control" rows=3 required></textarea>
                                                        <div class="contact-form-field-icons">
                                                            <img class="iconixtolinearuser1" loading="lazy" alt=""
                                                                src="{% static "images/assets/iconixtolinearedit.svg" %}" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="additional-text9">Additional text</div>
                                            </div>
                                        </div>
                                    </div>

                                    <button class="button52">
                                        <b class="text84">Submit</b>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="submit-button-wrapper">
                            <div class="submit-button-container">
                                <img class="submit-button-background" alt=""
                                    src="{% static "images/assets/submit-background@2x.png" %}" />

                                <div class="submit-button-container-inner">
                                    <div class="submit-button-icon-background-parent">
                                        <div class="submit-button-icon-background"></div>
                                        <div class="frame-parent44">
                                            <img class="frame-child24" loading="lazy" alt=""
                                                src="{% static "images/assets/group-5.svg" %}" />

                                            <div class="frame-wrapper18">
                                                <div class="author-details">
                                                    <b class="text45">Call us on:</b>
                                                </div>
                                            </div>
                                            <a class="contact-form-confirmation-container">
                                                <p class="p2">+447 909736637494</p>
                                                <p class="p2">+635548384799399</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>