{% load static %}
<!-- Contact Form -->
<section class="contact-content-wrapper">
    <div class="container-fluid ">
    <div class="contact-content">
        <div class="contact-form1">
            <b class="contact-us1">Contact us</b>
            <div class="contact-form-container">
                <div class="contact-form-fields">
                    <div class="contact-form-fields-container">
                        <div class="contact-form-field-wrapper">
                            <h1 class="letss-help-you1">
                                Lets’s help you understand your business
                            </h1>
                            <div class="contact-form-inputs">
                                <div class="component-81">
                                    <div class="text46">Name</div>
                                    <div class="contact-form-input-field-conta-parent">
                                        <div class="contact-form-input-field-conta">
                                            <div class="contact-form-input-field-wrapp">
                                                <input class="enter-name2" placeholder="Enter name" type="text" />

                                                <div class="contact-form-field-icons">
                                                    <img class="iconixtolinearuser1" alt=""
                                                        src="{% static "images/assets/iconixtolinearuser.svg" %}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="additional-text6">Additional text</div>
                                    </div>
                                </div>
                                <div class="component-81">
                                    <div class="text46">Email address</div>
                                    <div class="contact-form-input-field-conta-parent">
                                        <div class="contact-form-input-field-conta">
                                            <div class="contact-form-input-field-wrapp">
                                                <input class="email-address4" placeholder="Email address"
                                                    type="text" />

                                                <div class="contact-form-field-icons">
                                                    <img class="iconixtolinearuser1" alt=""
                                                        src="{% static "images/assets/icon--mail.svg" %}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="additional-text6">Additional text</div>
                                    </div>
                                </div>
                                <div class="component-81">
                                    <div class="text46">Subject</div>
                                    <div class="contact-form-input-field-conta-parent">
                                        <div class="contact-form-input-field-conta">
                                            <div class="contact-form-input-field-wrapp">
                                                <input class="enter-name2" placeholder="Enter name" type="text" />

                                                <div class="contact-form-field-icons">
                                                    <img class="iconixtolinearuser1" alt=""
                                                        src="{% static "images/assets/iconixtolinearedit.svg" %}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="additional-text6">Additional text</div>
                                    </div>
                                </div>
                                <div class="component-81">
                                    <div class="text46">Message</div>
                                    <div class="frame-parent43">
                                        <div class="frame-wrapper17">
                                            <div class="contact-form-input-field-wrapp">
                                                <div class="how-can-we1">Enter Message</div>
                                                <div class="contact-form-field-icons">
                                                    <img class="iconixtolinearuser1" loading="lazy" alt=""
                                                        src="{% static "images/assets/iconixtolinearedit.svg" %}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="additional-text9">Additional text</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-button-wrapper">
                        <div class="submit-button-container">
                            <img class="submit-button-background" alt=""
                                src="{% static "images/assets/submit-background@2x.png" %}" />

                            <div class="submit-button-container-inner">
                                <div class="submit-button-icon-background-parent">
                                    <div class="submit-button-icon-background"></div>
                                    <div class="frame-parent44">
                                        <img class="frame-child24" loading="lazy" alt=""
                                            src="{% static "images/assets/group-5.svg" %}" />

                                        <div class="frame-wrapper18">
                                            <div class="author-details">
                                                <b class="text45">Call us on:</b>
                                            </div>
                                        </div>
                                        <a class="contact-form-confirmation-container">
                                            <p class="p2">+447 909736637494</p>
                                            <p class="p2">+635548384799399</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button52">
                    <b class="text84">Submit</b>
                </button>
            </div>
        </div>
        <div class="blog-content-wrapper">
            <div class="blog-content">
                <div class="blog-header">
                    <div class="blog-header-content">
                        <b class="pricing-plans">Blog articles</b>
                        <h1 class="everything-you-need1">
                            Everything you need to Know
                        </h1>
                    </div>
                </div>
                <div class="blog-posts">
                    <div class="blog-post">
                        <img class="blog-post-background" loading="lazy" alt=""
                            src="{% static "images/assets/rectangle-15@2x.png" %}" />

                        <div class="expertise-group">
                            <h3 class="customization1">Results-Driven</h3>
                            <div class="blog-post-details">
                                <div class="we-stay-ahead4">
                                    We stay ahead of the curve with the latest digital
                                    marketing trends and technologies
                                </div>
                                <div class="blog-post-button">
                                    <div class="i-am-tertiary-button">
                                        <b class="i-am-tertiary">Read More</b>
                                        <img class="iconixtolineararrow-right" alt=""
                                            src="{% static "images/assets/iconixtolineararrowright.svg" %}" />
                                    </div>
                                    <img class="iconixtolineararrow-right1" loading="lazy" alt=""
                                        src="{% static "images/assets/iconixtolineararrowright.svg" %}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rectangle-parent13">
                        <img class="frame-child25" alt="" src="{% static "images/assets/rectangle-14@2x.png" %}" />

                        <div class="rectangle-parent14">
                            <div class="frame-child26"></div>
                            <h3 class="results-driven3">Results-Driven</h3>
                            <div class="blog-post-content-duplicate">
                                <div class="we-stay-ahead4">
                                    We stay ahead of the curve with the latest digital
                                    marketing trends and technologies
                                </div>
                                <div class="blog-post-button-duplicate">
                                    <div class="i-am-tertiary-button1">
                                        <b class="i-am-tertiary">Read More</b>
                                        <img class="iconixtolineararrow-right" alt=""
                                            src="{% static "images/assets/iconixtolineararrowright.svg" %}" />
                                    </div>
                                    <img class="iconixtolineararrow-right1" loading="lazy" alt=""
                                        src="{% static "images/assets/iconixtolineararrowright-1.svg" %}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-image">
                        <img class="blog-post-image-background" loading="lazy" alt=""
                            src="{% static "images/assets/rectangle-16@2x.png" %}" />

                        <div class="blog-post-content-copy">
                            <h3 class="customization1">Results-Driven</h3>
                            <div class="blog-post-content-duplicate">
                                <div class="we-stay-ahead4">
                                    We stay ahead of the curve with the latest digital
                                    marketing trends and technologies
                                </div>
                                <div class="blog-post-button">
                                    <div class="i-am-tertiary-button">
                                        <b class="i-am-tertiary">Read More</b>
                                        <img class="iconixtolineararrow-right" alt=""
                                            src="{% static "images/assets/iconixtolineararrowright.svg" %}" />
                                    </div>
                                    <img class="iconixtolineararrow-right1" loading="lazy" alt=""
                                        src="{% static "images/assets/iconixtolineararrowright.svg" %}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>