{% load static %}
<!-- FAQ Section -->
<!-- FAQ 3 - Bootstrap Brain Component -->
<section class="bsb-faq-3 py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h5 class="mb-4 text-center text-custom-color">Frequently Asked Questions</h5>
                <p class="text-secondary text-center lead fs-4">Everything you need to Know</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>

    <!-- FAQs: My Account -->
    <div class="mb-8">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-11 col-xl-10">
                    <div class="accordion accordion-flush" id="faqAccount">
                        <div class="accordion-item bg-transparent border-top border-bottom py-3">
                            <h2 class="accordion-header" id="faqAccountHeading1">
                                <button
                                    class="accordion-button collapsed bg-transparent fw-bold shadow-none link-secondary"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse1"
                                    aria-expanded="false" aria-controls="faqAccountCollapse1">
                                    What services does 247digital Hub LLC offer?
                                </button>
                            </h2>
                            <div id="faqAccountCollapse1" class="accordion-collapse collapse"
                                aria-labelledby="faqAccountHeading1">
                                <div class="accordion-body">
                                    <p> We provide a wide range of digital marketing services, including:</p>
                                    <ul>
                                        <li>Social Media Management</li>
                                        <li>Search Engine Optimization (SEO)</li>
                                        <li>Pay-Per-Click (PPC) Advertising</li>
                                        <li>Web Design and Development</li>
                                        <li>Content Creation and Marketing</li>
                                        <li>Reputation Management</li>
                                        <li>Chatbot Development</li>
                                        <li>Graphic Design</li>
                                        <li>Virtual Assistant Services </li>
                                    </ul>
                                    <p>For a full list of services, please visit our <a class="btn btn-light" href="{% url "services" %}">Services</a> page</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item bg-transparent border-bottom py-3">
                            <h2 class="accordion-header" id="faqAccountHeading2">
                                <button
                                    class="accordion-button collapsed bg-transparent fw-bold shadow-none link-secondary"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse2"
                                    aria-expanded="false" aria-controls="faqAccountCollapse2">
                                    How do I get started with 247digital Hub LLC?
                                </button>
                            </h2>
                            <div id="faqAccountCollapse2" class="accordion-collapse collapse"
                                aria-labelledby="faqAccountHeading2">
                                <div class="accordion-body">
                                    <p>Getting started is easy! Simply <a href="{% url "contact_us" %}"> contact us </a> to schedule a free consultation. We will discuss your business needs, provide tailored solutions, and help you choose the right package or service for your goals. </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item bg-transparent border-bottom py-3">
                            <h2 class="accordion-header" id="faqAccountHeading3">
                                <button
                                    class="accordion-button collapsed bg-transparent fw-bold shadow-none link-secondary"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse3"
                                    aria-expanded="false" aria-controls="faqAccountCollapse3">
                                    What is the minimum commitment for your service bundles?
                                </button>
                            </h2>
                            <div id="faqAccountCollapse3" class="accordion-collapse collapse"
                                aria-labelledby="faqAccountHeading3">
                                <div class="accordion-body">
                                    <p>Our digital marketing bundles (Basic, Advanced, and Premium) require a minimum commitment of 12 months. This allows us to develop and execute effective strategies for your business. </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item bg-transparent border-bottom py-3">
                            <h2 class="accordion-header" id="faqAccountHeading4">
                                <button
                                    class="accordion-button collapsed bg-transparent fw-bold shadow-none link-secondary"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse4"
                                    aria-expanded="false" aria-controls="faqAccountCollapse4">
                                    Can I customize a service package?
                                </button>
                            </h2>
                            <div id="faqAccountCollapse4" class="accordion-collapse collapse"
                                aria-labelledby="faqAccountHeading4">
                                <div class="accordion-body">
                                    <p>Yes, we understand that every business has unique needs. We offer tailor-made digital marketing solutions that can be customized to suit your specific goals and budget. Contact us to discuss your requirements, and we’ll create a personalized plan for you. </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item bg-transparent border-bottom py-3">
                            <h2 class="accordion-header" id="faqAccountHeading5">
                                <button
                                    class="accordion-button collapsed bg-transparent fw-bold shadow-none link-secondary"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse5"
                                    aria-expanded="false" aria-controls="faqAccountCollapse5">
                                    How much do your services cost?
                                </button>
                            </h2>
                            <div id="faqAccountCollapse5" class="accordion-collapse collapse"
                                aria-labelledby="faqAccountHeading5">
                                <div class="accordion-body">
                                    <p>Our pricing varies depending on the service or bundle selected. Here are some starting prices for our popular services:</p>
                                    <ul>
                                        <li><strong>Basic Digital Marketing Bundle:</strong>$750/month</li>
                                        <li><strong>SEO Services:</strong>$562.50/month</li>
                                        <li><strong>Custom Website Design:</strong>Starting at $1,500</li>
                                        <li><strong>Social Media Management:</strong>Starting at $250/month</li>
                                    </ul>
                                    <p>For detailed pricing, please visit our  <a class="btn btn-light" href="{% url "pricing" %}">Pricing</a> page</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item bg-transparent border-bottom py-3">
                            <h2 class="accordion-header" id="faqAccountHeading6">
                                <button
                                    class="accordion-button collapsed bg-transparent fw-bold shadow-none link-secondary"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse6"
                                    aria-expanded="false" aria-controls="faqAccountCollapse6">
                                    What is your payment policy?
                                </button>
                            </h2>
                            <div id="faqAccountCollapse6" class="accordion-collapse collapse"
                                aria-labelledby="faqAccountHeading6">
                                <div class="accordion-body">
                                    <p>Payments for most services are due upfront, either on a monthly or project basis. For bundled services, payments are made monthly. We accept various forms of payment, including credit/debit cards and bank transfers. </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item bg-transparent border-bottom py-3">
                            <h2 class="accordion-header" id="faqAccountHeading7">
                                <button
                                    class="accordion-button collapsed bg-transparent fw-bold shadow-none link-secondary"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse7"
                                    aria-expanded="false" aria-controls="faqAccountCollapse7">
                                    What happens if I want to cancel my services?
                                </button>
                            </h2>
                            <div id="faqAccountCollapse7" class="accordion-collapse collapse"
                                aria-labelledby="faqAccountHeading7">
                                <div class="accordion-body">
                                    <p>For bundled services with a 12-month commitment, early termination will result in a fee equal to the remaining months of the agreement. For stand-alone services, a 30-day notice is required for cancellation, and any outstanding fees must be settled.  </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item bg-transparent border-bottom py-3">
                            <h2 class="accordion-header" id="faqAccountHeading8">
                                <button
                                    class="accordion-button collapsed bg-transparent fw-bold shadow-none link-secondary"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse8"
                                    aria-expanded="false" aria-controls="faqAccountCollapse8">
                                    Do you guarantee specific results?
                                </button>
                            </h2>
                            <div id="faqAccountCollapse8" class="accordion-collapse collapse"
                                aria-labelledby="faqAccountHeading8">
                                <div class="accordion-body">
                                    <p>While we utilize proven strategies and best practices in digital marketing, we do not guarantee specific results due to factors outside our control, such as market conditions and competitor activities. However, we are committed to delivering the best possible outcomes and continuously optimizing our strategies to meet your goals. </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item bg-transparent border-bottom py-3">
                            <h2 class="accordion-header" id="faqAccountHeading9">
                                <button
                                    class="accordion-button collapsed bg-transparent fw-bold shadow-none link-secondary"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse9"
                                    aria-expanded="false" aria-controls="faqAccountCollapse9">
                                    Will I own the content and website created for me?
                                </button>
                            </h2>
                            <div id="faqAccountCollapse9" class="accordion-collapse collapse"
                                aria-labelledby="faqAccountHeading9">
                                <div class="accordion-body">
                                    <p>Yes, once full payment is made, you will own all rights to the content, graphics, websites, and other deliverables created specifically for your business. However, we reserve the right to showcase our work in our portfolio. </p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item bg-transparent border-bottom py-3">
                            <h2 class="accordion-header" id="faqAccountHeading10">
                                <button
                                    class="accordion-button collapsed bg-transparent fw-bold shadow-none link-secondary"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse10"
                                    aria-expanded="false" aria-controls="faqAccountCollapse10">
                                    How do I contact you for support or additional questions?
                                </button>
                            </h2>
                            <div id="faqAccountCollapse10" class="accordion-collapse collapse"
                                aria-labelledby="faqAccountHeading10">
                                <div class="accordion-body">
                                    <p>You can reach us by email at {{email}} or call us at {{phone1}}. Our team is available Monday through Friday, from 9 AM to 5 PM CST, to assist you with any questions or support needs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>