{% load static %}
<!-- FAQ Section -->
<section class="f-a-q-content-wrapper">
    <div class="f-a-q-content">
        <div class="pricing-titles">
            <b class="pricing-plans">Frequently asked question</b>
            <h1 class="bundle-offers">Everything you need to Know</h1>
        </div>
        <div class="container7">
            <div class="content12">
                <div class="faq-item">
                    <div class="content13">
                        <div class="text-and-supporting-text3">
                            <div class="collapsed-f-a">
                                Is there a free trial available?
                            </div>
                            <div class="supporting-text3">
                                Yes, you can try us for free for 30 days. If you want,
                                we’ll provide you with a free, personalized 30-minute
                                onboarding call to get you up and running as soon as
                                possible.
                            </div>
                        </div>
                        <div class="icon-wrap">
                            <img class="minus-circle-icon" loading="lazy" alt=""
                                src="images/assets/minuscircle.svg" />
                        </div>
                    </div>
                </div>
                <div class="faq-item1">
                    <div class="content13">
                        <div class="text-and-supporting-text4">
                            <div class="collapsed-f-a">Can I change my plan later?</div>
                        </div>
                        <div class="icon-wrap">
                            <img class="minus-circle-icon" alt="" src="images/assets/pluscircle.svg" />
                        </div>
                    </div>
                </div>
                <div class="faq-item1">
                    <div class="content13">
                        <input class="text-and-supporting-text5" placeholder="What is your cancellation policy?"
                            type="text" />

                        <div class="icon-wrap">
                            <img class="minus-circle-icon" alt="" src="images/assets/pluscircle.svg" />
                        </div>
                    </div>
                </div>
                <div class="faq-item1">
                    <div class="content13">
                        <input class="text-and-supporting-text5"
                            placeholder="Can other info be added to an invoice?" type="text" />

                        <div class="icon-wrap">
                            <img class="minus-circle-icon" alt="" src="images/assets/pluscircle.svg" />
                        </div>
                    </div>
                </div>
                <div class="faq-item1">
                    <div class="content13">
                        <div class="text-and-supporting-text4">
                            <div class="collapsed-f-a">How does billing work?</div>
                        </div>
                        <div class="icon-wrap">
                            <img class="minus-circle-icon" alt="" src="images/assets/pluscircle.svg" />
                        </div>
                    </div>
                </div>
                <div class="faq-item1">
                    <div class="content13">
                        <div class="text-and-supporting-text4">
                            <div class="collapsed-f-a">
                                How do I change my account email?
                            </div>
                        </div>
                        <div class="icon-wrap">
                            <img class="minus-circle-icon" alt="" src="images/assets/pluscircle.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>