{% load static %}
<!-- Newsletter Sign-Up -->
<section class="newsletter-cta-section1">
    <div class="container8">
        <div class="content19">
            <div class="heading-and-supporting-text1">
                <h1 class="heading9">Sign up for our newsletter</h1>
                <div class="supporting-text4">
                    Be the first to know about releases and industry news and
                    insights.
                </div>
            </div>
            <div class="email-capture1">
                <div class="input-field1">
                    <div class="input-wrapper">
                        <div class="summaryheading">
                            <input class="email-address5" placeholder="Email address" type="text" />

                            <img class="icon-mail3" alt="" src="{% static "images/assets/icon--mail-1.svg" %}" />
                        </div>
                    </div>
                    <div class="text46">
                        <span>We care about your data in our </span>
                        <span class="privacy-policy1">privacy policy</span>
                        <span>.</span>
                    </div>
                </div>
                <button class="button53">
                    <b class="text85">Subscribe</b>
                </button>
            </div>
        </div>
    </div>
</section>