{% load static %}
<!-- Social Proof Section -->
<section>
    <div class="social-proof mb-05">
        <b class="text41">Join 4,000+ companies already growing</b>
        <br>
        <p></p>
        <div class="social-logos mt-05row">
            <div class="col-4 col-md-2 ms-03">
                <img class="social-proof-image" alt="" src="{% static 'images/social-proof/HIC-logo-revised-1.png' %}" />
            </div>
            <div class="col-4 col-md-2 ms-03">
                <img class="social-proof-image" alt="" src="{% static 'images/social-proof/Essential-Med-Aesthetics-Logo-v02.svg' %}" />
            </div>
            <div class="col-4 col-md-2 ms-03">
                <img class="social-proof-image" alt="" src="{% static 'images/social-proof/aim-logo.png' %}" />
            </div>
            <div class="col-4 col-md-2 ms-03">
                <img class="social-proof-image" alt="" src="{% static 'images/social-proof/Transparent-PNG-Ocular.webp' %}" />
            </div>
            <div class="col-4 col-md-2 ms-03">
                <img class="social-proof-image" alt="" src="{% static 'images/social-proof/holistic-logo.png' %}" />
            </div>
            <div class="col-4 col-md-2 ms-03">
                <img class="social-proof-image" alt="" src="{% static 'images/social-proof/9ja-logo.png' %}" />
            </div>
        </div>
        
        
    </div>
</section>


