{% load static %}
<!-- Social Proof Section -->
<section>
    <div class="social-proof-section1">
        <b class="text41">Join 4,000+ companies already growing</b>
        <div class="logos1">
            <div class="fictional-company-logo6">
                <img class="logomark-icon6" alt="" src="{% static "images/assets/logomark.svg" %}" />

                <div class="logotype-wrapper3">
                    <img class="logotype-icon6" alt="" src="{% static "images/assets/logotype.svg" %}" />
                </div>
            </div>
            <div class="fictional-company-logo7">
                <img class="logomark-icon7" alt="" src="{% static "images/assets/logomark-1.svg" %}" />

                <div class="logotype-wrapper4">
                    <img class="logotype-icon7" loading="lazy" alt=""
                        src="{% static "images/assets/logotype-1.svg" %}" />
                </div>
            </div>
            <div class="fictional-company-logo8">
                <img class="logomark-icon6" alt="" src="{% static "images/assets/logomark-2.svg" %}" />

                <div class="logotype-wrapper5">
                    <img class="logotype-icon8" alt="" src="{% static "images/assets/logotype-2.svg" %}" />
                </div>
            </div>
            <div class="fictional-company-logo9">
                <img class="logomark-icon6" alt="" src="{% static "images/assets/logomark-3.svg" %}" />

                <div class="logotype-wrapper6">
                    <img class="logotype-icon9" loading="lazy" alt=""
                        src="{% static "images/assets/logotype-3.svg" %}" />
                </div>
            </div>
            <div class="fictional-company-logo10">
                <img class="logomark-icon6" alt="" src="{% static "images/assets/logomark-4.svg" %}" />

                <div class="logotype-wrapper7">
                    <img class="logotype-icon10" loading="lazy" alt=""
                        src="{% static "images/assets/logotype-4.svg" %}" />
                </div>
            </div>
            <div class="fictional-company-logo11">
                <img class="logomark-icon11" alt="" src="{% static "images/assets/logomark-5.svg" %}" />

                <div class="logotype-wrapper8">
                    <img class="logotype-icon11" alt="" src="{% static "images/assets/logotype-5.svg" %}" />
                </div>
            </div>
        </div>
    </div>
</section>