{% load static %}
<section>
    <div class="container mt-2 mb-4">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="text-custom-color">Hire Virtual Assistants</h5>
                <p class="section-subtitle">Grow Smarter with Dedicated Virtual Assistants</p>

                <p class="text-secondary">Save time and focus on scaling your business while our professional Virtual 
                    Assistants handle your daily tasks. Reliable support at just <span class="va-price">$10/hr </span> , tailored to fit your needs. </p>
                
                <p class="text-secondary"> <i class="bi bi-check-circle-fill check-item"></i> Affordable & flexible</p>
                <p class="text-secondary"> <i class="bi bi-check-circle-fill check-item"></i> Skilled VAs trained for business support</p>
                <p class="text-secondary"> <i class="bi bi-check-circle-fill check-item"></i> Scalable assistance for growing teams</p>
                <p class="text-secondary"> <i class="bi bi-check-circle-fill check-item"></i> Confidential & secure</p>

           
                <div class="py-lg-4 mt-3 mb-4">
                    <a href="{% url "virtual_assistant_services" %}" class="main-btn custom-hero-mobile-btn"> Get started Now  </a>
                </div>
            </div>
            
            <div class="col-sm-6">
                <img src="{% static 'images/va.png' %}" class="img-fluid" alt="Virtual assistant image">
            </div>
        </div>
    </div>
</section>