{% load static %}
<!-- Why Choose Us -->
<section class="why-choose-us-section-wrapper">
    <div class="why-choose-us-section1">
        <div class="content6">
            <b class="pricing-plans">Why 247Digital Hub?</b>
            <h1 class="bundle-offers">Transform Your Online Presence</h1>
        </div>
        <div class="content7">
            <div class="expertise-items-parent">
                <div class="expertise-items">
                    <img class="expertise-items-child" loading="lazy" alt=""
                        src="{% static "images/assets/group-4.svg" %}" />

                    <div class="expertise-group">
                        <h3 class="expertise3">Expertise Across Industries</h3>
                        <div class="our-team-of3">
                            Whether you’re a medical practice looking for specialized support or a retail brand needing
                            a boost in digital engagement, we tailor our services to meet your unique requirements.
                        </div>
                    </div>
                </div>
                <div class="expertise-items">
                    <img class="expertise-items-child" loading="lazy" alt=""
                        src="{% static "images/assets/group-4-1.svg" %}" />

                    <div class="expertise-group">
                        <h3 class="expertise3">Cutting-Edge Strategies</h3>
                        <div class="our-team-of3">
                            We stay ahead of the curve with innovative digital marketing trends and technologies that
                            keep your business at the forefront.
                        </div>
                    </div>
                </div>
                <div class="expertise-items2">
                    <img class="expertise-items-child" loading="lazy" alt=""
                        src="{% static "images/assets/group-4-2.svg" %}" />

                    <div class="expertise-group">
                        <h3 class="expertise3">Results You Can See</h3>
                        <div class="our-team-of3">
                            With data-driven approaches, we deliver measurable results that translate into real growth
                            for your business.
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-parent32">
                <div class="frame-parent33">
                    <img class="expertise-items-child" loading="lazy" alt=""
                        src="{% static "images/assets/group-4-3.svg" %}" />

                    <div class="expertise-group">
                        <h3 class="expertise3">Customized Solutions</h3>
                        <div class="our-team-of3">
                            No two businesses are alike, and neither are our strategies. We work closely with you to
                            create a bespoke plan that aligns with your goals.
                        </div>
                    </div>
                </div>
                <div class="frame-parent34">
                    <img class="expertise-items-child" loading="lazy" alt=""
                        src="{% static "images/assets/group-4-4.svg" %}" />

                    <div class="expertise-group">
                        <h3 class="expertise3">Dedicated Support</h3>
                        <div class="our-team-of3">
                            Our team is committed to providing exceptional service and support, ensuring that you always
                            have a partner in your journey to success.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>