{% load static %}
<!-- Why Choose Us -->
<section class="why-choose-us-section-wrapper">
    <div class="why-choose-us-section1">
        <div class="content6">
            <b class="pricing-plans">Why Choose us?</b>
            <h1 class="bundle-offers">Transform Your Online Presence</h1>
        </div>
        <div class="content7">
            <div class="expertise-items-parent">
                <div class="expertise-items">
                    <img class="expertise-items-child" loading="lazy" alt=""
                        src="{% static "images/assets/group-4.svg" %}" />

                    <div class="expertise-group">
                        <h3 class="expertise3">Expertise</h3>
                        <div class="our-team-of3">
                            Our team of seasoned professionals is committed to your
                            success.
                        </div>
                    </div>
                </div>
                <div class="expertise-items">
                    <img class="expertise-items-child" loading="lazy" alt=""
                        src="{% static "images/assets/group-4-1.svg" %}" />

                    <div class="expertise-group">
                        <h3 class="expertise3">Innovation</h3>
                        <div class="our-team-of3">
                            We stay ahead of the curve with the latest digital marketing
                            trends and technologies
                        </div>
                    </div>
                </div>
                <div class="expertise-items2">
                    <img class="expertise-items-child" loading="lazy" alt=""
                        src="{% static "images/assets/group-4-2.svg" %}" />

                    <div class="expertise-group">
                        <h3 class="expertise3">Results-Driven</h3>
                        <div class="our-team-of3">
                            Our strategies are designed to deliver measurable results.
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-parent32">
                <div class="frame-parent33">
                    <img class="expertise-items-child" loading="lazy" alt=""
                        src="{% static "images/assets/group-4-3.svg" %}" />

                    <div class="expertise-group">
                        <h3 class="expertise3">Customization</h3>
                        <div class="our-team-of3">
                            We offer flexible plans and personalized solutions to meet
                            your needs.
                        </div>
                    </div>
                </div>
                <div class="frame-parent34">
                    <img class="expertise-items-child" loading="lazy" alt=""
                        src="{% static "images/assets/group-4-4.svg" %}" />

                    <div class="expertise-group">
                        <h3 class="expertise3">Support</h3>
                        <div class="our-team-of3">
                            Enjoy prompt, reliable, and professional assistance whenever
                            you need it
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>