<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Contact Us Message</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="font-family: Arial, sans-serif; background-color: #f7f7f7;">
    <div style="max-width: 600px; margin: 20px auto; padding: 0; text-align: center;">
        
        <div style="background-color: #fff; border-radius: 0 0 15px 15px; padding: 30px; margin-bottom: 20px;">
            
            <p style="font-size: 18px; margin-bottom: 20px; text-align: left;">Hello Admin,</p>
            <p style="font-size: 18px; margin-bottom: 20px; text-align: left;">You have a new contact us message. The details of the message are shown below:</p>
            <div style="text-align: left; margin-bottom: 20px;">
                <p><strong>Name:</strong> {{name}}</p>
                <p><strong>Email:</strong> {{email}}</p>
                <p><strong>Subject:</strong> {{subject}}</p>
                <p><strong>Message:</strong> {{message}}</p>
            </div>
            

        </div>
        <div style="font-size: 14px; margin-bottom: 20px;">
            <p>247 DigitalHub</p>
        </div>
    </div>
</body>
</html>
