

h2 {
    font-size: 24px;
    font-weight: bold;
}

form input {
    border-radius: 5px;
    padding: 10px;
}

form .form-check-label {
    font-size: 14px;
}

.btn-primary {
    background: linear-gradient(112.41deg, #1aa5bb, #1aa5bb 54.9%, #79e299);
    border: none;
    padding: 10px;
}

.btn-light {
    border: 1px solid #ddd;
    padding: 10px;
}

.image-container {
    position: relative;
    text-align: center;
}

.overlay-text {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 90%;
    color: #fff;
    font-size: 16px;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 5px;
}

.gradient-text {
    font-weight: bold;
    background: linear-gradient(112.41deg, #1aa5bb, #1aa5bb 54.9%, #79e299);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-decoration: none;
}


@media (max-width: 767.98px) {
    .image-container {
        display: none;
    }
}

.auth-img{
    border-radius: 5%;
}

.gradient-character {

    font-weight: bold;
    background: linear-gradient(112.41deg, #1aa5bb, #1aa5bb 54.9%, #79e299);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: small;
    
}

.auth-card {
    background: #fff; /* Card background color */
    border: none; /* Removes default Bootstrap card border */
    padding: 40px; /* Adds padding around the card content */
    border-radius: 8px; /* Rounded corners */
    position: relative; /* Enables positioning for pseudo-elements */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    max-width: 400px; /* Sets the maximum width of the card */
}

.auth-card::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(112.41deg, #1aa5bb, #1aa5bb 54.9%, #79e299); /* Gradient border */
    z-index: -1;
    border-radius: 10px; /* Slightly more rounded than card itself */
}

