{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Payment Cancelled- {% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static "css/auth-style.css" %}" />
{% endblock stylesheet %}

{% block header-hero-container %}{% endblock header-hero-container %}
{% block main %}
<div class="container d-flex justify-content-center align-items-start" style="min-height: 100vh; margin-top: 10px;">
    <div class="auth-card card text-center">
     
       <h4> Payment Cancelled </h4>
       <p> Your payment was not Successful </p>
       <a href="{% url "pricing" %}" class="main-btn"> Retry </a>
    </div>
</div>
{% endblock main %}

{% block footer %}{% endblock footer %}