{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Payment Successful- {% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static "css/auth-style.css" %}" />
{% endblock stylesheet %}

{% block header-hero-container %}{% endblock header-hero-container %}
{% block main %}
<div class="container d-flex justify-content-center align-items-start" style="min-height: 100vh; margin-top: 10px;">
    <div class="auth-card card text-center">
      <div class="text-center">
        <img src="{% static "images/success.png" %}"alt="" srcset="">
      </div>
       <h4> Payment Successful </h4>
       <p> The invoice has been sent to your email </p>
       <a href="{% url "subscription" %}" class="main-btn"> Ok </a>
    </div>
</div>
{% endblock main %}

{% block footer %}{% endblock footer %}