{% extends "core/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
Pricing -
{% endblock title %}

{% block stylesheet %}

{% endblock stylesheet %}

{% block herosection %}

<section class="herosection">

  <div class="container centered-header-hero hero-spacing-bottom">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home / Pricing</li>
      </ol>
    </nav>
    <h1 class="py-lg-3 fw-bolder" id="big">Flexible Plans to Fit Every Budget</h1>
    <p class="privacy-policy">We understand that every business is unqiue. That's why we offer tailor-made digital
      marketing solutions designed to address your specific challenges and goals. Reach out to us for a personalized
      plan that fits your business perfectly </p>
  </div>
</section>
{% endblock herosection %}

{% block main %}
<!-- Social Proof Section -->
{% include "core/components/social_proof_section.html" %}

<section class="container-wrapper mt-5 ">
  <div class="container6">
    <div class="pricing-header">
      <div class="pricing-titles">

        <h1 class="bundle-offers">Bundle offers</h1>
      </div>
      <div class="content8">
        {% for bundle in bundleplan %}
          {% if bundle.title == "Basic Plan" %}
            <div class="pricing-tier-card">
              <div class="header1">
                <div class="heading-and-price">
                  <div class="heading-and-badge">
                    <div class="heading6">{{bundle.title}}</div>
                    <div class="badge2">
                      <a class="text43">Popular</a>
                    </div>
                  </div>
                  <div class="price">
                    <b class="price1">${{bundle.price|floatformat:"0"|intcomma}}</b>
                    <span class="fs-6 text-muted">per month</span>
                  </div>
                </div>
                <button class="actions" onclick="window.location.href='{% url 'create_checkout_session' %}?id={{ bundle.id }}&plan_type=bundle'">
                  <div class="button48" >
                    <b class="text44">Get Started</b>
                  </div>
                </button>
                    
                
              </div>
              <div class="content9">
                <div class="expertise-group">
                  <b class="text45">FEATURES</b>
                </div>
                <div class="check-items">
                  <div class="check-item-text">
                    <img class="check-icon" loading="lazy" alt="" src="{% static "images/assets/check-icon.svg" %}" />

                    <div class="text-wrap">
                      <div class="text46">
                        Social Media Posting: Engage your audience with 2
                        posts per week plus 2 videos per week.
                      </div>
                    </div>
                  </div>
                  <div class="check-item-text">
                    <img class="check-icon" loading="lazy" alt="" src="{% static "images/assets/check-icon.svg" %}" />

                    <div class="text-wrap">
                      <div class="text46">
                        SEO: Enhance your visibility with basic SEO
                        strategies.
                      </div>
                    </div>
                  </div>

                  <div class="check-item-text">
                    <img class="check-icon" loading="lazy" alt="" src="{% static "images/assets/check-icon-2.svg" %}" />

                    <div class="text-wrap">
                      <div class="text46">
                        PPC: Boost your reach with standard level
                        pay-per-click advertising
                      </div>
                    </div>
                  </div>
                  <div class="check-item-text">
                    <img class="check-icon" loading="lazy" alt="" src="{% static "images/assets/check-icon-2.svg" %}" />

                    <div class="text-wrap">
                      <div class="text46">
                        Reporting: Informed with monthly performance reports.
                      </div>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          {% elif bundle.title == "Advanced Bundle" %}
          <div class="pricing-tier-card1">
            <div class="header1">
              <div class="heading-and-price">
                <div class="heading-and-badge1">
                  <div class="heading7">{{bundle.title}}</div>
                  <div class="badge3">
                    <div class="text55">Popular</div>
                  </div>
                </div>
                <div class="price2">
                  <b class="price3">${{bundle.price|floatformat:"0"|intcomma}}</b>
                  <span class="fs-6">per month</span>
                </div>
              </div>
              <div class="expertise-group">
                <button class="button49" onclick="window.location.href='{% url 'create_checkout_session' %}?id={{ bundle.id }}&plan_type=bundle'">
                  <b class="text56">Get started</b>
                </button>
              </div>
            </div>
            <div class="content9">
              <div class="expertise-group">
                <b class="text45">FEATURES</b>
              </div>
              <div class="check-items">
                <div class="check-item-text9">
                  <img class="check-icon" alt="" src="{% static "images/assets/check-icon-8.svg" %}" />

                  <div class="text-wrap">
                    <div class="text46">
                      Social Media: Capture attention with 3 posts and 3
                      videos per week.
                    </div>
                  </div>
                </div>
                <div class="check-item-text9">
                  <img class="check-icon" alt="" src="{% static "images/assets/check-icon-8.svg" %}" />

                  <div class="text-wrap">
                    <div class="text46">
                      SEO: Improve your rankings with intermediate SEO
                      techniques.
                    </div>
                  </div>
                </div>
                <div class="check-item-text9">
                  <img class="check-icon" alt="" src="{% static "images/assets/check-icon-8.svg" %}" />

                  <div class="text-wrap">
                    <div class="text46">
                      PPC: Boost your reach with standard level
                      pay-per-click advertising.
                    </div>
                  </div>
                </div>
                <div class="check-item-text9">
                  <img class="check-icon" alt="" src="{% static "images/assets/check-icon-8.svg" %}" />

                  <div class="text-wrap">
                    <div class="text46">
                      Reporting: Informed with monthly performance reports.
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% elif bundle.title == "Premium Bundle" %}
          <div class="pricing-tier-card2">
            <div class="header1">
              <div class="heading-and-price">
                <div class="heading-and-badge1">
                  <div class="heading7">{{bundle.title}}</div>
                  <div class="badge3">
                    <div class="text55">Popular</div>
                  </div>
                </div>
                <div class="price2">
                  <b class="price3">${{bundle.price|floatformat:"0"|intcomma}}</b>
                  <span class="fs-6 light">per month</span>

                </div>
              </div>
              <button class="actions" onclick="window.location.href='{% url 'create_checkout_session' %}?id={{ bundle.id }}&plan_type=bundle'">
                <div class="button48">
                  <b class="text44">Get Started</b>
                </div>
              </button>
            </div>
            <div class="content9">
              <div class="expertise-group">
                <b class="text45">FEATURES</b>
              </div>
              <div class="check-items">
                <div class="check-item-text">
                  <img class="check-icon" alt="" src="{% static "images/assets/check-icon.svg" %}" />

                  <div class="text-wrap">
                    <div class="text46">
                      Social Media: Unlimited posts and videos to maximize
                      your impact.
                    </div>
                  </div>
                </div>
                <div class="check-item-text">
                  <img class="check-icon" alt="" src="{% static "images/assets/check-icon.svg" %}" />

                  <div class="text-wrap">
                    <div class="text46">
                      SEO: Dominate search results with expert-level SEO.
                    </div>
                  </div>
                </div>
                <div class="check-item-text">
                  <img class="check-icon" alt="" src="{% static "images/assets/check-icon.svg" %}" />

                  <div class="text-wrap">
                    <div class="text46">
                      PPC: Achieve premium visibility with advanced PPC
                      management.
                    </div>
                  </div>
                </div>
                <div class="check-item-text">
                  <img class="check-icon" alt="" src="{% static "images/assets/check-icon.svg" %}" />

                  <div class="text-wrap">
                    <div class="text46">
                      Reporting: Receive detailed monthly insights.
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% endif %}

          
          
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<div class="container mb-4 standalone">
  <h3> Stand-alone offers</h3>
</div>

<div class="container mt-5 standalone-prices">
  <h5 class="text-center text-custom-color">Search Engine Optimization</h5>
  <p class="text-center">Helps your website rank higher on search engines like Google, making it easier for customers to find you.</p>

  <div class="row">
    {% for plan in seo_standalone_plans %}
      <div class="col-sm-6 mt-3 ">
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title">{{plan.title}}</h5>
              <p>{{plan.description}}</p>
            </div>
            <div class="">
              <h5 class="amount mb-0">${{plan.price}} <small>/ month</small></h5>
              <a href="{% url 'contact_us' %}" class="i-am-an1 btn btn-sm">Choose Plan</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="container mt-5 standalone-prices">
  <h5 class="text-center text-custom-color">Social Media Management</h5>
  <p class="text-center">Keeps your social media profiles active with regular posts and videos to engage your audience.</p>

  <div class="row">
    {% for plan in social_standalone_plans %}
    <div class="col-sm-6 mt-3 ">
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">{{plan.title}}</h5>
            <p>{{plan.description}}</p>
          </div>
          <div class="">
            <h5 class="amount mb-0">${{plan.price}} <small>/ month</small></h5>
            <a href="{% url 'create_checkout_session' %}?id={{plan.id}}&plan_type=standalone" class="i-am-an1 btn btn-sm">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
   
  </div>
</div>

<div class="container mt-5 standalone-prices">
  <h5 class="text-center text-custom-color">Content Creation and Management</h5>
  <p class="text-center">Writes high-quality content, such as blog posts, articles, and website copy, to attract and retain customers.</p>

  <div class="row">
    <div class="col-sm-3 mt-3 ">
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">Business Explainer Videos (Quick)</h5>
            <p>0-30 secs video</p>
          </div>
          <div class="">
            <h5 class="amount mb-0">$150 <small>/ per video</small></h5>
            <a href="{% url "contact_us" %}" class="i-am-an1 btn btn-sm">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 mt-3 ">
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">Business Explainer Videos (Highlights)</h5>
            <p>31-45 Secs video</p>
          </div>
          <div class="">
            <h5 class="amount mb-0">$255 <small>/ per video</small></h5>
            <a href="{% url "contact_us" %}" class="i-am-an1 btn btn-sm">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 mt-3 ">
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">Business Explainer Videos (Detailed)</h5>
            <p>41 secs - 1 min video</p>
          </div>
          <div class="">
            <h5 class="amount mb-0">$300 <small>/ per video</small></h5>
            <a href="{% url "contact_us" %}" class="i-am-an1 btn btn-sm">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 mt-3 ">
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">Business Explainer Videos (Extended)</h5>
            <p>1min + video</p>
          </div>
          <div class="">
            <h5 class="amount mb-0">$412.50 <small>/ per video</small></h5>
            <a href="{% url "contact_us" %}" class="i-am-an1 btn btn-sm">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 mt-3 ">
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">Content Creation</h5>
            <p>Writes high-quality content, such as blog posts, articles, and website copy, to attract and retain customers</p>
          </div>
          <div class="">
            <h5 class="amount mb-0">$150 <small>/ per page</small></h5>
            <a href="{% url "contact_us" %}" class="i-am-an1 btn btn-sm">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mt-3 ">
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">Content Marketing Strategy</h5>
            <p>Develops a tailored plan to create and distribute valuable content to attract your target audience</p>
          </div>
          <div class="">
            <h5 class="amount mb-0">$600 <small>/ per strategy</small></h5>
            <a href="{% url "contact_us" %}" class="i-am-an1 btn btn-sm">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mt-3 ">
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">Graphics Design Services</h5>
            <p>Designs eye-catching graphics for social media, websites, advertisements, and other marketing materials</p>
          </div>
          <div class="">
            <h5 class="amount mb-0">$50 <small>/ per hour</small></h5>
            <a href="{% url "contact_us" %}" class="i-am-an1 btn btn-sm">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 standalone-prices">
  <h5 class="text-center text-custom-color">Advertising Services (PPC)</h5>
  <p class="text-center">Google and Microsoft ads Management</p>

  <div class="row">
    {% for plan in ppc_standalone_plans %}
      <div class="col-sm-6 mt-3 ">
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title">{{plan.title}}</h5>
              <p>{{plan.description}}</p>
            </div>
            <div class="">
              <h5 class="amount mb-0">${{plan.price}} <small>/ month</small></h5>
              <a href="{% url 'contact_us' %}" class="i-am-an1 btn btn-sm">Choose Plan</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="container mt-5 standalone-prices">
  <h5 class="text-center text-custom-color">Web Design, Development and Maintenance</h5>
  <p class="text-center">Design, Development and Maintenance of Web services and Website.</p>


  <div class="row">
    {% for plan in web_design_standalone_plans %}
    <div class="col-sm-6 mt-3 ">
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">{{plan.title}}</h5>
            <p>{{plan.description}}</p>
          </div>
          <div class="">
            <h5 class="amount mb-0">${{plan.price}} <small>/ month</small></h5>
            <a href="{% url 'contact_us' %}" class="i-am-an1 btn btn-sm">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

<div class="container mt-5 standalone-prices">
  <h5 class="text-center text-custom-color">Support Services</h5>
  <p class="text-center">Customer Support Services to help improve your business customer relation.</p>

  <div class="row">
    {% for plan in support_standalone_plans %}
    <div class="col-sm-4 mt-3 ">
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">{{plan.title}}</h5>
            <p>{{plan.description}}</p>
          </div>
          <div class="">
            <h5 class="amount mb-0">${{plan.price}} <small>/ month</small></h5>
            <a href="{% url 'contact_us' %}" class="i-am-an1 btn btn-sm">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

<div class="container mt-5 mb-5 standalone">
  <h5> Note:</h5>
  <ul>
    <li>12-month Commitment for all Bundles</li>
    <li>Third Party Budgets are not included in the price list</li>
  </ul>
</div>

<!-- Contact Form -->
{% include "core/components/contact_us_section.html" %}


<!-- Newsletter Sign-Up -->
{% include "core/components/newsletter_section.html" %}
{% endblock main %}