{% extends "core/base.html" %}
{% load static %}
{% block title %}
Blog -
{% endblock title %}

{% block herosection %}
<section class="herosection">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Home / Blog</li>
                        </ol>
                    </nav>
                    <h1 class="py-lg-3 fw-bolder" id="big">Digital Marketing <br> Trends</h1>

                </div>
                <div class="py-lg-4">
                    <a href="{% url "contact_us" %}" class="main-btn"> Contact us Now </a>
                </div>
            </div>
            <div class="col-md-6">


                <img src="{% static 'images/blog-hero.png' %}" class="img-fluid" alt="...">


            </div>
        </div>
    </div>
</section>
{% endblock herosection %}


{% block main %}
<!-- Social Proof Section -->
{% include "core/components/social_proof_section.html" %}

<!-- Recent Blog Post -->
<section class="container recent-blog-post">
    <h4 class="text-center text-custom-color mt-5 mb-3">Recent Blog Posts</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="recent">
                <!-- Image tag instead of background image in CSS -->
                <a href="{% url "blog_details" most_recent.slug %}">
                    <img src="{{most_recent.header_image.url}}" class="recent-img img-fluid" alt="Blog Post">
                </a>
                <!-- Overlay content -->
                <div class="overlay">
                    <h2>{{most_recent.title}}</h2>
                    <p>{{most_recent.subtitle}}</p>
                    <a href="{% url "blog_details" most_recent.slug %}" class="read-more-link">Read More <i
                            class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            {% for post in other_recent %}
            <!-- First d-flex block -->
            <div class="d-flex justify-content-between blog-card">
                <div class="blog-card-img-container">
                    <a href="{% url "blog_details" post.slug %}">
                        <img src="{{post.header_image.url}}" class="blog-card-img" alt="...">
                    </a>
                </div>
                <div class="blog-card-content">
                    <h6 class="card-title">{{post.title}}</h6>
                    <p class="card-text">{{post.subtitle}}</p>
                    <a href="{% url "blog_details" post.slug %}" class="read-more-link">Read more <i
                            class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>




<!-- All Blog Post -->
<section class="mt-5">
    <h4 class="text-center text-custom-color  mb-3">All Blog Posts</h4>
    <div class="all-blog-post container">
        <div class="row">
            {% for post in page_obj %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="{% url "blog_details" post.slug %}">
                        <img src="{{post.header_image.url}}" class="post-card-image img-fluid card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{post.title | truncatechars:30}}</h5>
                        <p class="card-text">{{post.subtitle | truncatechars:50}}</p>
                        <a href="{% url "blog_details" post.slug %}" class="read-more-link">Read more <i
                                class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<!-- Newsletter Sign-Up -->
{% include "core/components/newsletter_section.html" %}
{% endblock %}