{% extends "core/base.html" %}
{% load static %}
{% block title %}
Blog -
{% endblock title %}

{% block herosection %}
<section class="herosection">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Home / Blog</li>
                        </ol>
                    </nav>
                    <h1 class="py-lg-3 fw-bolder" id="big">Digital Marketing <br> Trends</h1>

                </div>
                <div class="py-lg-4">
                    <button class="button39">
                        <b class="text40">Contact us Now</b>
                    </button>
                </div>
            </div>
            <div class="col-md-6">


                <img src="{% static 'images/blog-hero.png' %}" class="img-fluid" alt="...">


            </div>
        </div>
    </div>
</section>
{% endblock herosection %}


{% block main %}
<!-- Social Proof Section -->
{% include "core/components/social_proof_section.html" %}

<!-- Recent Blog Post -->
<section class="container recent-blog-post">
    <h4 class="text-center text-custom-color mt-5 mb-3">Recent Blog Posts</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="recent">
                <!-- Image tag instead of background image in CSS -->
                <img src="{% static 'images/assets/rectangle-14@2x.png' %}" class="recent-img img-fluid" alt="Blog Post">
                <!-- Overlay content -->
                <div class="overlay">
                    <h2>Blog Title</h2>
                    <p>We use data-driven insights to optimize campaigns and maximize ROI.</p>
                    <a href="#" class="read-more-link">Read More <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- First d-flex block -->
            <div class="d-flex justify-content-between blog-card">
                <div class="blog-card-img-container">
                    <img src="{% static 'images/assets/rectangle-15@2x.png' %}" class="blog-card-img" alt="...">
                </div>
                <div class="blog-card-content">
                    <h6 class="card-title">Result Driven</h6>
                    <p class="card-text">We use data-driven insights to optimize campaigns and maximize ROI.</p>
                    <a href="#" class="read-more-link">Read more <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <!-- Second d-flex block -->
            <div class="d-flex justify-content-between blog-card mt-3">
                <div class="blog-card-img-container">
                    <img src="{% static 'images/assets/rectangle-15@2x.png' %}" class="blog-card-img" alt="...">
                </div>
                <div class="blog-card-content">
                    <h6 class="card-title">Result Driven</h6>
                    <p class="card-text">We use data-driven insights to optimize campaigns and maximize ROI.</p>
                    <a href="#" class="read-more-link">Read more <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- All Blog Post -->
<section class="mt-5">
    <h4 class="text-center text-custom-color  mb-3">All Blog Posts</h4>
    <div class="all-blog-post container">
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'images/assets/rectangle-15@2x.png' %}"
                        class="post-card-image img-fluid card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Result Driven</h5>
                        <p class="card-text">We use data-driven insights to optimize campaigns and maximize ROI.</p>
                        <a href="#" class="read-more-link">Read more <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Repeat Card for a total of 6 cards -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'images/assets/rectangle-16@2x.png' %}"
                        class="post-card-image img-fluid card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Innovative Strategies</h5>
                        <p class="card-text">We use data-driven insights to optimize campaigns and maximize ROI.</p>
                        <a href="#" class="read-more-link">Read more <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'images/assets/blackbusinesswomansmiling-11@2x.png' %}"
                        class="post-card-image img-fluid card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Customer Focused</h5>
                        <p class="card-text">We use data-driven insights to optimize campaigns and maximize ROI.</p>
                        <a href="#" class="read-more-link">Read more <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'images/assets/rectangle-15@2x.png' %}"
                        class="post-card-image img-fluid card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Creative Solutions</h5>
                        <p class="card-text">We use data-driven insights to optimize campaigns and maximize ROI.</p>
                        <a href="#" class="read-more-link">Read more <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'images/assets/rectangle-15@2x.png' %}"
                        class="post-card-image img-fluid card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Data Driven</h5>
                        <p class="card-text">We use data-driven insights to optimize campaigns and maximize ROI.</p>
                        <a href="#" class="read-more-link">Read more <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'images/assets/rectangle-15@2x.png' %}"
                        class="post-card-image img-fluid card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Continuous Improvement</h5>
                        <p class="card-text">We use data-driven insights to optimize campaigns and maximize ROI.</p>
                        <a href="#" class="read-more-link">Read more <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Newsletter Sign-Up -->
{% include "core/components/newsletter_section.html" %}
{% endblock %}