{% extends "core/base.html" %}
{% load static %}
{% block title %}
{{post.title}} -
{% endblock title %}

{% block herosection %}
<section class="herosection">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Home / Blogs </li>
                        </ol>
                    </nav>
                    <h1 class="py-lg-3 fw-bolder" id="big">{{post.title}}</h1>

                    <div class="supporting-text">
                        {{post.subtitle}}
                    </div>

                </div>
                <div class="container mt-4 mb-4">
                    <div class="author-container d-flex align-items-start">
                        <!-- Author Image Container -->
                        <div class="author-image-container">
                            {% if post.author.profile_image %}
                            <img src="{{post.author.profile_image.url}}" class="author-image" alt="Author Image">
                            {% else %}
                            <img src="{% static "images/noprofile.png" %}" class="author-image" alt="Author Image">
                            {% endif %}
                        </div>

                        <!-- Author Details -->
                        <div class="author-details">
                            <div class="d-flex align-items-baseline">
                                <h6 class="author-name">{{post.author.first_name}} {{post.author.last_name}}</h6>
                            </div>
                            <p class="author-date text-muted">Published on {{post.post_date | date}}</p>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-md-6">


                <img src="{{post.header_image.url}}" class="img-fluid" alt="...">


            </div>
        </div>
    </div>
</section>
{% endblock herosection %}


{% block main %}

<section class="post-details">
    <div class="container px-4  mt-5">
        <p> {{post.body | safe}} </p>
        <div class="post-conclusion mb-3 mt-4">
            <h5 class="mb-3">Conclusion</h5>
            {{post.conclusion}}
        </div>


    </div>

</section>




<!-- Recent Post-->
<section class="mt-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="text-custom-color mb-0">Our Blog</h5>
            <button class="button53" onclick="window.location.href='/blog'">
                <b class="text85">View all Posts</b>
            </button>
        </div>
        <h3>Latest Blog Post</h3>
    </div>

    <div class="all-blog-post container">
        <div class="row">
            {% for post in recent_articles %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{post.header_image.url}}"
                        class="post-card-image img-fluid card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.subtitle | truncatechars:50}}</p>
                        <a href="{% url "blog_details" post.slug %}" class="read-more-link">Read more <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</section>


<!-- Newsletter Sign-Up -->
{% include "core/components/newsletter_section.html" %}
{% endblock %}