{% extends "core/base.html" %}

{% load static %}

{% block title %}Edit Profile - {% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static "css/auth-style.css" %}" />
{% endblock stylesheet %}

{% block header-hero-container %}{% endblock header-hero-container %}

{% block main %}
<div class="container mt-4">
    
    {% include 'userbase/components/sub-nav.html' with active_item='profile' %}


    <div class="row mt-4 mb-4">
        <!-- Profile Information -->
        <div class="col-md-4 mb-4">
            <div class="profile-card p-4 text-center shadow rounded">
                <div class="profile-image mx-auto mb-3">
                    {% if user.profile_image %}
                    <img src="{{user.profile_image.url}}" class="rounded-circle img-fluid" alt="Profile Image">
                    {% else %}
                    <img src="{% static "images/noprofile.png" %}" class="rounded-circle img-fluid" alt="Profile Image">
                    {% endif %}
                    
                </div>
                <h5 class="mb-1">{{user.first_name}} {{user.last_name}}</h5>
                <p class="text-muted mb-3">{{user.email}}</p>
                <a href="#" class="text-primary gradient-text" id="change-picture-btn">Change Picture</a>
                <input type="file" id="profile-picture-input" accept="image/*" style="display: none;">
                
            </div>
        </div>

        <!-- Edit Form -->
        <div class="col-md-8">
            <div class="edit-form-card p-4 shadow rounded">
                <form method="post">
                    {% if user_edit_form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul class="mb-0">
                            {% for field, errors in user_edit_form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% elif company_form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul class="mb-0">
                            {% for field, errors in company_form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% csrf_token %}
                    <!-- Personal Information -->
                    <h5>Personal Information</h5>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="fullName" class="form-label">First Name</label>
                            {{user_edit_form.first_name}}
                        </div>
                        <div class="col">
                            <label for="phoneNumber" class="form-label">Last Name</label>
                            {{user_edit_form.last_name}}
                        </div>
                        <div class="col">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                            {{user_edit_form.phone_number}}
                        </div>
                        
                    </div>
                    

                    <!-- Company Information -->
                    <h5 class="mt-5">Company's Information</h5>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="companyName" class="form-label">Company's Name</label>
                            {{company_form.company_name}}
                        </div>
                        <div class="col">
                            <label for="address" class="form-label">Address</label>
                            {{company_form.address}}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="companyName" class="form-label">Company's Website</label>
                            {{company_form.company_website}}
                        </div>
                        <div class="col">
                            <label for="address" class="form-label">Company's Category</label>
                            {{company_form.category}}
                        </div>
                    </div>

                    <!-- Account Information -->
                    <h5 class="mt-5">Account Information</h5>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="fullName" class="form-label">Username</label>
                            {{user_edit_form.username}}
                        </div>
                        <div class="col">
                            <label for="phoneNumber" class="form-label">Password</label>
                            <input type="text" class="form-control" id="address" value="{{user.password | truncatechars:25}} readonly">
                        </div>
                        
                        
                    </div>
                    <a href="#" class="text-primary gradient-text">Change Password</a>

                    <!-- Buttons -->
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary btn-gradient-border  me-2">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block script %}
<script>
    document.getElementById('change-picture-btn').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default anchor behavior
        document.getElementById('profile-picture-input').click(); // Trigger the file input click
    });

    document.getElementById('profile-picture-input').addEventListener('change', function() {
        var formData = new FormData();
        formData.append('profile_image', this.files[0]);

        // Use fetch API to send the file via AJAX
        fetch("{% url 'user_change_profile_picture' %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'  // Ensure the CSRF token is sent
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert(data.message); 
                location.reload(); 
            } else {
                alert(data.message); 
            }
        })
        .catch(error => console.error('Error:', error));
    });
</script>


{% endblock script %}