{% extends "core/base.html" %}

{% load static %}

{% block title %}My invoice - {% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static "css/auth-style.css" %}" />
<link href="https://cdn.datatables.net/2.1.4/css/dataTables.bootstrap5.css" rel="stylesheet" />

{% endblock stylesheet %}

{% block header-hero-container %}{% endblock header-hero-container %}

{% block main %}
<div class="container mt-4">
    {% include 'userbase/components/sub-nav.html' with active_item='invoices' %}

    <div class="row mt-4 mb-4">
        <h4 class="mt-4 mb-4"> Invoices </h4>

        <!-- DataTable for Desktop -->
        <div class="col-md-12 d-none d-md-block">
            <div class="edit-form-card p-4 shadow rounded">
                <table class="table datatables" id="dataTable-1">
                    <thead>
                        <tr>
                            <th>Invoice Number</th>
                            <th>Item</th>
                            <th>Issue Date</th>
                            <th>Expire Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invoice in invoices %}
                            <tr>
                                <td>
                                    {{ invoice.invoice_id}}
                                </td>
                                <td>
                                    {% if invoice.plan %}
                                        {{ invoice.plan.title }}
                                    {% else %}
                                        {{ invoice.standalone_plan.title }}
                                    {% endif %}
                                </td>
                                
                                <td>
                                    {{ invoice.issue_date }}
                                </td>
                                <td>
                                    {{ invoice.expire_date }}
                                </td>
                                <td>
                                    {{ invoice.status }}
                                </td>
                                <td>
                                    <!-- Trigger Button -->
                                    <a href="#" class="text-primary gradient-text" data-bs-toggle="modal" data-bs-target="#exampleModal">View Details</a>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Cards for Mobile -->
        <div class="col-md-12 d-block d-md-none">
            <div class="card-columns">
                {% for invoice in invoices %}
                    <div class="edit-form-card  mb-4 shadow rounded">
                        <div class="card-body">
                            <h5 class="card-title">
                                {% if invoice.plan %}
                                 {{ invoice.plan.title }}
                                {% else %}
                                 {{ invoice.standalone_plan.title }}
                                {% endif %}
                                
                            </h5>
                            <p class="card-text">ID: {{ invoice.invoice_id | truncatechars:5 }}</p>
                            
                            <p class="card-text">Issue Date: {{ invoice.issue_date }}</p>
                            <p class="card-text">Expiry Date: {{ invoice.expire_date }}</p>
                            <p class="card-text">Status: {{invoice.status}}</p>
                            <a href="#" class="text-primary gradient-text" data-bs-toggle="modal" data-bs-target="#exampleModal">View Details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Pagination for Mobile -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if invoices.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ invoices.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    {% endif %}

                    {% for num in paginator.page_range %}
                        {% if invoices.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if invoices.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ invoices.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade modal-sm" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-body text-center">
                <h5 class="mb-4 mt-4"> Find details of invoice in your email </h5>
                <p>The receipt has been sent to your email</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

  
{% endblock %}
{% block script %}
<script src="{% static "js/jquery.min.js" %}"></script>
<script src='{% static "js/jquery.dataTables.min.js" %}'></script>
<script src='{% static "js/dataTables.bootstrap4.min.js" %}'></script>
<script>
    $(document).ready(function() {
        $('#dataTable-1').DataTable({
            autoWidth: true,
            "lengthMenu": [
                [5, 15, 64, -1],
                [5, 15, 64, "All"]
            ]
        });
    });
</script>
{% endblock %}

