{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Password Reset Success- {% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static "css/auth-style.css" %}" />
{% endblock stylesheet %}

{% block header-hero-container %}{% endblock header-hero-container %}
{% block main %}
<div class="container d-flex justify-content-center align-items-start" style="min-height: 100vh; margin-top: 10px;">
    <div class="auth-card card text-center">
      <div class="text-center">
        <img src="{% static "images/success.png" %}"alt="" srcset="">
      </div>
       <h4> Password Changed successfully!</h4>
       <p> Your password has been changed successfully</p>
       <a href="{% url "edit_profile" %}" class="main-btn"> Back to Home </a>
    </div>
</div>
{% endblock main %}

{% block footer %}{% endblock footer %}