{% extends "core/base.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}

{% block title %}Change Password - {% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static "css/auth-style.css" %}" />
{% endblock stylesheet %}

{% block header-hero-container %}{% endblock header-hero-container %}
{% block main %}
<div class="container d-flex justify-content-center align-items-start" style="min-height: 100vh; margin-top: 10px;">
    <div class="auth-card card text-center">
    {% element h2 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% element p %}
        {% trans 'Your password is now changed.' %}
    {% endelement %}
</div>
</div>
{% endblock main %}

{% block footer %}{% endblock footer %}